[2019-11-13 11:40] barendgehrels commented on #626
Can I close this issue?

[2019-11-18 07:48] yuxianch opened #642 "Serveral tests under rtree/interprocess failed in compilation for conflicting types in MSVC"
Hi,
I found that serveral tests under [rtree/interprocess](https://github.com/boostorg/geometry/tree/develop/index/test/rtree/interprocess) failed in compilation for conflicting types in MSVC. Take [rtree_interprocess_linear_dyn.cpp](https://github.com/boostorg/geometry/tree/develop/index/test/rtree/interprocess/rtree_interprocess_linear_dyn.cpp) as an example. When executing below command,
[code]

[2019-11-18 12:41] Legotckoi opened #643 "boost::intersection produces wrong results by tolerance"
This is related to [#630](https://github.com/boostorg/geometry/issues/630)
Consider the following:

[code]

Output

[code]

Details: MSVC 2015, boost 1.68

[2019-11-18 13:48] awulkiew commented on #642
You are compiling with `clang-cl` so this is not MSVC but Clang on Windows. Is that correct?
It looks like this issue is located in Boost.Interprocess, not in Boost.Geometry, do you agree?

I do not see it failing in our regression matrix for any tested MSVC (https://www.boost.org/development/tests/develop/developer/geometry-index.html)
Clang on Windows is not tested unfortunately.

Yes, if I unde

[2019-11-18 13:50] awulkiew commented on #642
`GetFileType` should return `unsigned long`
https://github.com/boostorg/interprocess/blob/develop/include/boost/interprocess/detail/win32_api.hpp#L914

[2019-11-18 13:55] awulkiew commented on #642
`GetProcessTimes`
https://github.com/boostorg/interprocess/blob/develop/include/boost/interprocess/detail/win32_api.hpp#L898
should take `FILETIME *`
https://github.com/boostorg/interprocess/blob/develop/include/boost/interprocess/detail/win32_api.hpp#L706
and not Boost.Inteprocess implementation
https://github.com/boostorg/interprocess/blob/develop/include/boost/interprocess/detail/win32_api.hpp#

[2019-11-18 13:56] awulkiew commented on #642
Anyway, this is not a bug in Boost.Geometry, so I'm closing it.

[2019-11-18 13:56] #642 closed

[2019-11-19 02:25] yuxianch commented on #642
Wow. Thank you so much, @awulkiew . I will turn to Boost.Interprocess.

[2019-11-19 11:40] mark-grimes opened #646 "boost::geometry::buffer gives incorrect results for line strings with multiple segments"
I'm getting completely wrong results from `buffer` for linestrings with more than one segment.  I've tried this with:
* 1.70.0
* 1.71.0
* boost 1.70.0 with the head of boost geometry copied on top (not sure how sensible this is, but it compiles fine)

I've managed to reproduce with this minimal example:
[code]
Gives the following (abreviated) output:
[code]
The first and last points are clearly no

[2019-11-19 11:56] mark-grimes commented on #646
Using `end_flat` strategy gives an interesting result (full print out):
[code]
I'd expect a buffer around a two segment line string to have 7 points (6+1 repeated).  Four coordinates describes a triangle, which is a result I really don't understand.

[2019-11-19 12:07] mark-grimes commented on #646
Apologies, I've just realised that in boiling down to a minimal example I incorrectly used a geographic coordinate.  I think the issue still exists but I'll close until I verify.

[2019-11-19 12:07] #646 closed

[2019-11-19 12:17] mark-grimes commented on #646
There is no problem. In the full code we use a custom type which was accidentally set as geographic thanks to a bad cut and paste job when converting to cartesian. So this can stay closed.

Apologies.

[2019-11-19 18:52] barendgehrels commented on #646
OK, good to hear it works as expected. Thanks for the follow up.

[2019-11-20 13:02] benjaminor commented on #626
Yes, I just realized where I was wrong.
From my end, you can close it.

[2019-11-23 11:42] barendgehrels commented on #626
Thanks for confirming this. I'll close it now.

[2019-11-23 11:42] #626 closed

[2019-11-23 13:15] barendgehrels commented on #643
Thanks for the report. I can reproduce it.
Note, if you use the library with the define `BOOST_GEOMETRY_NO_ROBUSTNESS`, the issue is not present. This will be the default in (hopefully) 1.73 or a later version. Because I'm currently removing rescaling and taking care all set operations and buffer succeed without it.

I added your case to the testsuite, to be sure it succeeds in future versions. Ca

[2019-11-25 14:16] Legotckoi commented on #643
I  checked `BOOST_GEOMETRY_NO_ROBUSTNESS` in our project. But unfortunately, we have now this issue exists in 1.68.
We will update boost library in our project after release 1.73.
 I think, you can close this issue. I made tolerance reducing for this case. We will reopen issue, if it will not fixed for us project.

Thank you.

[2019-11-25 20:05] AndrewAtAvenza opened #649 "nth_element_and_half_boxes::apply uses local variable with same name as function parameter"
Compiling 1.69 with VS2019's v142 toolset & arguments /std:c++17 /permissive- I get the following:

[...]boost\include\boost\geometry\index\detail\rtree\pack_create.hpp(80,1):  warning C4457: declaration of 'median' hides function parameter

followed by several pages of further complaints. I found that renaming the local 'median' to something like 'edge_median' and updating the two usages of the v

[2019-11-26 18:48] barendgehrels commented on #643
All right, thanks, and yes please reopen it if it not fixed.

[2019-11-26 18:48] #643 closed

[2019-12-13 18:27] ferdymercury opened #652 "add reference frame as tag for positional vectors"
A nice addition to this library would be to define different Reference Frames in the same coordinate system type, e.g. cartesian. See here rationale:

https://stackoverflow.com/questions/34670464/how-can-i-add-coordinate-system-reference-frame-information-to-my-data-to-avoi

Similar strategies are already implemented in the SymPy library (Python) and in CERN's ROOT (C++), but I haven't found it in

[2019-12-17 19:29] ChenI-Hsuan opened #653 "boost::geometry union & difference &r-tree error"
I want to "union" or "clipper" two rectangle but I always get the wrong output.
so I used  "fsanitize=undefined" command to check my code, and it report a overflow error.
I think the all points of the tow rectangle in the integer range,so my question is if the points range
will be "long long" How do I define the type of point_xy to make sure it doesn't overflow when I used the function "union_" "d

[2019-12-24 22:00] pauljurczak opened #654 "Proposal: Make read/write WKT more symmetric by adding writing to std::string"
AFAIK, the only way to write WKT provided by boost.geometry is a stream manipulator. In many cases it is more convenient to produce a `std::string` representation directly, as it is provided for reading by `read_wkt`. I would like to propose `write_wkt` function operating on a string and geometry.

[2019-12-24 22:13] mloskot commented on #654
Can you present a sample of desired syntax of usage?

[2019-12-25 01:11] pauljurczak commented on #654
Here is the context I'm working with right now (`Polyline` is a geometry):
[code]
In order to write a JSON file with `points` stored as WKT string, I have:
[code]
I would much preferred:
[code]
Additionally, for reading, I would prefer:
[code]
over the current option:
[code]

[2019-12-28 05:30] pauljurczak opened #655 "Proposal: Can we have point_xyz?"
`point_xy` made everyone on the plane happy. Can we make everyone in 3D space happy with `point_xyz`?

[2019-12-28 16:05] awulkiew commented on #655
I think that's a good idea.

[2019-12-28 16:35] awulkiew commented on #654
Even though a user could implement this short function if needed indeed it would be convenient if the library provided it out of the box. I'm not sure about the naming though. `read_wkt` seems to be a good name for a function taking `string` as output argument:

    bg::write_wkt(points, json["points"]);

I'd expect the function you proposed to have a name like `as_wkt` or `to_wkt`. The standard n

[2019-12-28 16:52] awulkiew commented on #653
Yes, this is caused by the fact that too small coordinate_type is used. And currently Boost.Geometry does nothing about it. You could try passing a CalculationType of greater size only for the purpose of calculation with the strategy explicitly, e.g.:

    bg::difference(blue, green, output,
                   bg::strategy::intersection::cartesian_segments<long long>());

I can imagine that by def

[2019-12-28 17:06] awulkiew commented on #652
Could you elaborate and maybe show some example?

Currently a coordinate system of a geometry is defined in compile-time as a part of the corresponding point type. Technically speaking `bg::traits::coordinate_system` has to be specialized for a point type and `bg::traits::point_type` has to be specialized for higher-level geometry type. Is this something you are talking about?

In addition to that

[2019-12-28 23:59] pauljurczak commented on #654
Name `as_wkt` or `to_wkt` is even better. I was only trying to state my case and leave the name choices to you, as my experience with boost.geometry is very minimal.

The second part could be implemented as `as_string` or `to_string`. `to_string` looks nicer since there is already a standard `std::to_string()` function.

To sum up, `to_wkt` and `to_string` could be used as geometry <-> <WKT string

[2019-12-29 00:23] awulkiew commented on #654
The problem with `to_string` is that there can be many text formats so this name would be ambiguous. Currently we support WKT, DSV and SVG.

[2019-12-29 01:19] pauljurczak commented on #654
You are right. I read your responses a bit too casually, sorry about that. `from_wkt` and `to_wkt` pair sounds great. It could be extended to `from_`/`to_` pairs for other representations (DSV, SVG), if needed.

[2019-12-29 22:05] ferdymercury commented on #652
This would be helpful too https://github.com/boostorg/geometry/issues/655

[2019-12-29 22:25] ferdymercury commented on #652
Assume I have a 3D coordinate system A with a point P (1/5/-3). Now, another observer is sitting at a 90 degree angle with respect to observer A. In his own coordinate system, point P will be at (5/-1/3). The coordinates in each frame of reference are related by an affine transform matrix M. Ideally, for safe programming, one would leave all the matrix conversions implicit by doing something like:

[2019-12-29 22:32] ferdymercury commented on #652
This is how it is done in Python:

[code]

[2019-12-29 23:49] awulkiew commented on #652
In case you didn't know. It is possible to create `matrix_transformer` [1] and pass it into `bg::transform()` [2]. It is also possible to pass corresponding Boost.QVM [3] matrix into `matrix_transformer` so you can use utilities from this library while calculating transformations. Like this:

[code]

So frame of reference is not expressed directly but the functionality is there. Is this not enough

[2019-12-31 19:48] ferdymercury commented on #652
Thanks for the reply and the hints. I didn't know about QVM but had used before Qt, which has Qquaternion and 4x4 matrices. However, my feature suggestion goes rather along the line of how to store information in a self contained object, rather than leaving to the programmer to do it correctly in every operation. In other ways, to have a good class that manages it.

From the physics point of view,

[2019-12-31 20:07] mloskot commented on #654
So, the consensus is to provide `to_<format>` and `from_<format>` utility functions for the I/O routines. Correct?

@pauljurczak Are you going to propose implementation and submit PR?

[2019-12-31 22:39] pauljurczak commented on #654
I definitely support `to_<format>` and `from_<format>` utility functions for the I/O routines. Unfortunately, I'm not in a position to provide implementation. I'm just a beginner casual user swamped with other projects. BTW, I don't have enough template metaprogramming experience to contribute to boost.geometry.

[2020-01-02 01:31] awulkiew commented on #654
@barendgehrels what do you think?

Btw, I made a quick performance test (MSVS2017 x64 /O2, appending 3 strings of length 10) and it seems that appending to `std::string` with `+=` is several times faster than formatting with `std::ostringstream`. At least with my test case.

[2020-01-03 15:04] barendgehrels commented on #654
Hi @awulkiew  @pauljurczak I'm OK with to_wkt and from_wkt . Thanks.
It is often convenient and (I did not expect that) especially if it can be much faster, we should have it

[2020-01-03 18:11] awulkiew commented on #654
@barendgehrels I was thinking about it more and there are some decisions we'd have to make if we wanted to provide it.

With streams the user can set the desired precision with `std::setprecision`. This is not possible with `std::string`. The obvious solution is to use max precision for native types but for user-defined types it is not possible. So we'd need another trait for that or maybe depend

[2020-01-04 11:22] pauljurczak commented on #654
@awulkiew How about not providing any means for setting precision when using `to_<format>` and `from_<format>`? I was thinking about convenience for new users of boost.geometry, who may not know that precision can be set for text representations. I had no idea and no need for precision setting.

[2020-01-04 13:51] mloskot commented on #654
Since the idea is about textual serialisation of coordinates, I expect sooner than later someone will ask why it outputs N decimal places and not M. It's quite frequent question on GDAL/OGR mailing list w.r.t. GeoJSON. Hence, OGR driver offers reasonable defaults, overridable:
https://gdal.org/drivers/vector/geojson.html

[2020-01-05 01:39] pauljurczak commented on #654
There can be a free standing function provided to set the precision then. The simplest way is: `set_wkt_string_precision()`, but there may be something fitting better with boost.geometry design.

[2020-01-05 16:29] barendgehrels commented on #654
@awulkiew  good point! Yes, precision is important and any default will not be good for everyone.
@pauljurczak a free standing function would require a global "setting" variable which we don't have in our library
@mloskot yes we might add an overridable default for precision, in the function itself and precision is probably the most important usecase, but fixed/scientific might be another thing us

[2020-01-05 19:35] awulkiew commented on #654
Ok, before closing it I'll mention another solution, i.e. to always use the max precision of a numeric type preserving all of the data. This is the only reasonable default for me because as @mloskot have said, it's a serialization problem. In other words we could set precision to `std::numeric_limits<T>::digits10` or `std::numeric_limits<T>::digits10 + 1` if `std::numeric_limits<T>::is_specialized

[2020-01-05 22:46] pauljurczak commented on #654
@barendgehrels I agree that precision parameter with a default value to `to_<format>` and `from_<format>`  sounds better. I disagree that a useful function, trivial or not, is left for user to define. Creating and discarding a `stringstream` each time I want to get a `string` representation seems hackish and inefficient.

[2020-01-07 22:57] awulkiew opened #656 "Invalid result of intersection for MLs, MPo -> MLs"
Geometry develop, with VS2017 x64.

![image](https://user-images.githubusercontent.com/1226951/71935978-78d96000-31a8-11ea-89d0-82bb5f6d8b5f.png)

[code]

Result is: `MULTILINESTRING((0 0, 1 0, 1 1), (1.249e-16 2.498e-16, 0 0, 0 -1))`
should be: `MULTILINESTRING((0 0, 1 0, 1 1))`

[2020-01-10 00:19] awulkiew commented on #588
Just an update. This issue is in 1.72.

[2020-01-10 20:00] grokse opened #657 "Incorrect results when transforming from 4326 to 3785/3857"
The results look correct when I use a proj4 string to create my transformation, but if I use boost::geometry::srs::epsg it's about ~25km south of what I expect.

[code]

epsg output: -12772789.6016 4277696.96863
proj output: -12772789.6016 4302832.77709

[2020-01-19 10:44] spacewafer opened #658 "Proposal: Include example code for arithmetic operations in the documentation"
The arithmetic functions like the dot_product and cross_product don't have examples specified in their respective documentation pages. I have made some examples ready for it. Should I add it?

[2020-01-19 11:44] mloskot commented on #658
AFAIS, none of the arithmetic operations display any exampleshttps://www.boost.org/doc/libs/1_72_0/libs/geometry/doc/html/geometry/reference/arithmetic.html
or, you'd have to provide links to pages you are talking about.

However, I'd simply submit PR, then it will be possible to see what examples you are proposing, review them and accept. IMHO, documentation with examples is always appreciated by

[2020-01-19 13:12] LurkerPhD opened #659 "intersection for std::vector<QPoint*>"
Hi. I'm trying to get intersection for two std::vector<QPoint*>, where QPoing is a home brew point class. Then I got allocation errors for boost declares a QPoint* without instanciation when a temporary QPoint object is needed. I've solved this problem by simply adding
[code]
and it works.
The thing is, I'm a newbie to c++ and not so secure about my coding. Is there any important reason not to do

[2020-01-20 18:37] AndrewAtAvenza opened #661 "Complicated donut structures"
I'm trying to write a geometry conversion tool to go from my application's (Adobe Illustrator) geometries to boost::geometry's model structures. It's mostly gone fine, but I run into the donut case. Or rather, the nested donut: a shell with a hole, who in turn has a child (non-hole?). I _think_ the proper way to handle this is to 'start over' as soon as a hole has a child, treating any hole's chil

[2020-01-20 19:58] awulkiew commented on #661
Do I understand correctly that you have a polygon with a hole and inside this hole there is another polygon? Maybe you could share a picture?

In general a geometry such as this should be represented as multi-polygon containing a polygon with a hole and another polygon inside this hole. Have in mind that this second polygon cannot have exactly the same points as a hole (so exactly fitting the hole

[2020-01-20 21:13] awulkiew commented on #659
It looks ok, i.e. in core of the library pointers are handled in a similar way. However pointer types are not tested in general so it is possible that in some case you'd get something unexpected.

Have you considered wrapping this pointer in a class and pass an object of this wrapper instead?

Out of curiosity, what is your use case? Why do you need a container of pointers instead of a container o

[2020-01-20 21:53] mloskot commented on #659
I hope `QPoint` is not a polymorphic type.
With Boost.Geometry your best bet is to use value types (as defined by Alexander Stepanov), so try to get rid of the pointer as @awulkiew suggested.

[2020-01-20 22:09] AndrewAtAvenza commented on #661
It's funny, I was looking for that link the other day & I couldn't remember the title to find it!

Yes, that's exactly what I'm talking about: "polygon with a hole and inside this hole there is another polygon". I see that they have a good example of my case in the MultiPolygon example diagrams (_figure 17d_). So that plus what you've already outlined is the confirmation I was hoping for. I had co

[2020-01-20 22:09] #661 closed

[2020-01-21 09:55] LurkerPhD commented on #659
thx for your tip! I'll consider the wrapper thing. It seems like a promising alternative.

 I'm using boost::geometry in a mesh in which several cells could share a point. The point itself contains constantly changing variables. If I use a container of point as a cell, it seems troublesome to change all the surrouding cells when one point updates. And I need to do some topology operators, somethin

[2020-01-21 10:19] mloskot commented on #659
I wouldn't agree with this statement.
The documentation is quite clear about how it uses the OGC specs, in https://www.boost.org/libs/geometry/doc/html/geometry/introduction.html it says

So, the library follows vocabulary and interfaces to model the system of the geometries and name (some of) the algorithms, but it does not mean it is a GIS specific library.

[2020-01-21 11:00] LurkerPhD commented on #659
Oh sorry for my expression. I don't really mean boost::geometry is a GIS specific library. Otherwise I won't use it at all. I mean maybe some of its built-in data structures or algorithms are more or less more suitable for GIS implication? Maybe, I don't know. I only know GIS from the text books.

Thx for clarification!

[2020-01-21 11:22] mloskot commented on #659
Certainly, there is GIS influence observable in BG (e.g. in terms of what kind of algorithms are offered first, what are missing), but to me it is suitable as general purpose geometry library.

[2020-01-30 06:14] linshu77 opened #662 "Incorrect result of area calculated for polygon"
Here is my code：

[code]

The "Area" should be 0, but the result is 4.5. Why?It should be a mistake.

-----

@linshu77 Please, learn how to format GitHub issues. I also corrected the issue subject.

[2020-01-30 19:06] barendgehrels commented on #662
Can you please try to compile the code with the define `BOOST_GEOMETRY_NO_ROBUSTNESS`?
This will be the default in one of the future versions.

[2020-01-31 03:05] linshu77 commented on #662
This is my code，It can be compiled by DEV-C + + 5.11.

#include <iostream>
#include <cstdio>
#include <boost/assign.hpp>
#include <boost/assign/list_of.hpp>
#include <boost/geometry/geometry.hpp>
#include <boost/geometry/geometries/point_xy.hpp>
#include <boost/geometry/geometries/polygon.hpp>
using namespace std;
namespace bg = boost::geometry;
int main()
{
	typedef bg::model::d2::point_xy<double

[2020-01-31 22:31] barendgehrels commented on #662
Thanks for the code - but that was actually not my question...

[2020-01-31 22:36] mloskot commented on #662
@linshu77 Please, once again, check https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax to learn how to format code blocks

[2020-02-01 03:20] linshu77 commented on #662
@mloskot Sorry, this is my first issue.

[2020-02-02 03:11] linshu77 commented on #662
When I change the data order, I will get the right result. why?

[code]

[2020-02-02 19:09] mloskot commented on #662
@linshu77 Can you run the test that @barendgehrels requested in his earlier comment?

Simply, add the `#define BOOST_GEOMETRY_NO_ROBUSTNESS` at the top of your `.cpp` file like so

[code]

build and run it.

[2020-02-03 03:29] linshu77 commented on #662
Thank you，add the ` #define BOOST_GEOMETRY_NO_ROBUSTNESS` , It will get the right results.

[2020-02-03 03:29] #662 closed

[2020-02-03 17:20] barendgehrels commented on #662
@linshu77 : Thanks for testing and good to hear it solves the problem.
@mloskot  : Thanks for your assistence

[2020-02-04 11:36] linshu77 opened #663 "Incorrect result of the function bg::intersection()"
This is my code with the define BOOST_GEOMETRY_NO_ROBUSTNESS，
It can be compiled by DEV-C + + 5.11,Boost version: 1.72.
The answer should be 0, but it's 27.
However, if I delete the "#define BOOST_GEOMETRY_NO_ROBUSTNESS",
the answer will be correct.

[code]

[2020-02-04 11:49] mloskot commented on #663
What compiler and what version of the compiler is this `DEV-C + + 5.11` thing?

What compilation flags did you use, especially what optimisations?

[2020-02-04 11:58] linshu77 commented on #663
I also compiled with MSVC2012 Ver11.0.51106.01.
what optimisations? I don't know.

[2020-02-04 12:17] mloskot commented on #663
It's quite important to know at least if you do non-optimised debug build or you do optimised build (Release in Visual Studio speak).

[2020-02-04 12:31] linshu77 commented on #663
DEV-C + + 5.11 : TDM-GCC 4.9.2 32-bit Release.
MSVC2012: Release and Debug
The answers are all the same. They're all Incorrect.

[2020-02-04 12:44] mloskot commented on #663
Thanks for checking it's not optimisation related.

For some/many cases, that is what you should do, because without that macro defined, the algorithms will perform rescaling to integer for more numerically robust solution (default behaviour).

https://github.com/boostorg/geometry/blob/b930d335653063cb6f9c9641956b3cac5f80e86a/include/boost/geometry/core/config.hpp#L25-L29

You may still need to de

[2020-02-04 13:02] linshu77 commented on #663
I have two code.
If I add the "#define BOOST_GEOMETRY_NO_ROBUSTNESS",
the code1 will be incorrect, the code2 will be correct.
but if I delete the "#define BOOST_GEOMETRY_NO_ROBUSTNESS",
the code1 will be correct, the code2 will be incorrect.
how can I do? thanks.

code1
[code]

code2:
[code]

[2020-02-04 15:56] awulkiew commented on #663
The first case looks like that:

![image](https://user-images.githubusercontent.com/1226951/73760921-59653100-476e-11ea-8f25-fbf12bd3759e.png)

red - poly1
green - poly2
blue - poly (result)

With `BOOST_GEOMETRY_NO_ROBUSTNESS` the result is equal to the poly2 (with additional point). Without the result is empty. Even if the result was non-empty the intersection should not be equal to poly2.

[2020-02-04 16:01] awulkiew commented on #663
The second case:

![image](https://user-images.githubusercontent.com/1226951/73761780-9978e380-476f-11ea-9572-d4ed126e70de.png)

As @linshu77 said it's the other way around WRT `BOOST_GEOMETRY_NO_ROBUSTNESS`. However this time the poly1 is the result.

    {171.60480351137778, 162.32096650635697}
    {172.21795926332567, 162.99736073096460}
    {172.21795926332567, 170.00000000000000}
    {171.604

[2020-02-04 16:43] awulkiew commented on #657
Thanks. It seems that https://epsg.io/3785 and https://spatialreference.org/ref/epsg/popular-visualisation-crs-mercator/ list different proj4 string for the projection. The difference is that the latter defines towgs84 parameter and the former doesn't. So the latter takes the coordinates as if they were on the ellipsoid and the former converts between WGS84 ellipsoid and sphere before applying mer

[2020-02-04 17:14] mloskot commented on #657
I'd suggest to stop using the deprecated EPSG codes (`3785` or `3587`) for the popular visualisation spherical mercator as they are often *wrongly defined*. All sane software should stop support of those deprecated codes to stop the headache proliferation :-)

The official code is `3857` http://www.epsg-registry.org/export.htm?gml=urn:ogc:def:crs:EPSG::3857

[2020-02-05 10:36] sgiraudot opened #664 "Writing 3D WKT: Z in prefix?"
When writing 3D objects in WKT, a "Z" is supposed to be added to the prefix, such that a 2D point and a 3D point are differentiated:
[code]
But as far as I tested, when writing 3D objects using the WKT writer of Boost Geometry, the "Z" prefix is never written, leading to this kind of output:

[code]
It seems to be similar for other types of primitives (`LINESTRING`, etc.).

Reading 3D objects with

[2020-02-05 11:02] mloskot commented on #664
Yes, only when writing WKT as defined the ISO SQL/MM specification.
Boost.Geometry is not compliant with the SQL/MM. The WKT I/O is based on the SFSQL 1.0 specification (still, I'm not betting my head it's fully compliant with it either).

I'd suggest to consider the WKT I/O is a utility for user's convenience and for convenience of developers testing the library features itself. It is not really

[2020-02-08 13:33] awulkiew commented on #664
So we'd need a separate function for that.

We should also probably do it for `M`. The problem is currently we are unable between distinguishing between coordinates, measures, time, etc. It's all coordinates for us.

[2020-02-08 13:36] awulkiew commented on #657
@mloskot  I propose to use the `3857` definition for `3785` and `3587` since AFAIU this is what is expected from these SRIDs. Does that make sense?

[2020-02-08 20:29] mloskot commented on #664
I thought perhaps `detail::wkt::prefix_point` could be a template taking `Point` then it could dispatch based on dimension, `POINT` for 2 or `POINT Z` for 3.

I think `Z` is more important than other measures. Another issue is that if BG advertises support of other measures, then users will likely expect e.g. why `M` is not copied/preserved/synthesised etc. by operation X :-)

[2020-02-08 20:32] mloskot commented on #657
Yes, aliasing of those two deprecated codes to the official `3857` seems a good idea for user's convenience, especially definition-wise those are equivalents as https://wiki.openstreetmap.org/wiki/EPSG:3857 says:

[2020-02-09 17:56] digu-007 opened #666 "Proposal: Some of the algorithms have missing examples in documentation like disjoint, overlaps etc."
Following algorithms have their documentation examples missing:
covered_by, crosses, disjoint, overlaps, perimeter, touches.

I would like to contibrute by adding the above files.

[2020-02-13 11:39] awulkiew commented on #631
@barendgehrels @AlastairHolmes Well, we use larger types in some places but not all of them, and the library is not tested for this use case.

So your suggestion to use bigger type is good. I'd only add that if the size of geometries is an issue it would be possible to store smaller coordinates as you do and implement thin wrappers around your geometries (something which we call views) returning c

[2020-02-13 14:06] digu-007 commented on #666
@vissarion Shall I close the issue now?

[2020-02-14 08:15] digu-007 commented on #604
[covered_by](https://www.boost.org/doc/libs/1_72_0/libs/geometry/doc/html/geometry/reference/algorithms/covered_by/covered_by_2.html) is implemented for (Polygon, Multipolygon), can't we just make use of this and convert Box into the rectangle (which is a Polygon) out of the given two corners of Box, and then solve this query for (Box, MultiPolygon).

If that's the case I would like to contribute

[2020-02-14 09:13] vissarion commented on #604
`Box` is a `Polygon` only in `cartesian` for other coordinate systems it cannot represented as a polygon since polygon's segments are geodesics (e.g. great circles for spherical) but box's segments are not.

[2020-02-14 09:16] #666 closed

[2020-02-14 09:31] digu-007 commented on #604
Oh ok, I just now realized that we have four different kinds of coordinate systems here, I'll study them.

[2020-02-18 00:50] grokse commented on #657
Thanks for the explanations.  I saw "equivalent" and expected it to behave exactly the same as 3857, which it's not.

[2020-02-25 11:02] henzim opened #669 "Difference and cartesian_segments yield wrong result"
When computing the difference between two polygons that touch at one point but do not overlap boost::geometry::difference yields the wrong result.
In my original problem the touching point happens to be the starting point of the input polygon.

The polygons are unfortunatly very large and I only posted the code on WandBox
https://wandbox.org/permlink/0vqkFS71m0zJ65X4
Also, the problem seems very e

[2020-02-27 11:31] mloskot commented on #657
@grokse What's the status of this?

[2020-02-27 11:37] mloskot commented on #396
@garyfurnish Yes, it is a common problem. The `b2 --abbreviate-paths` should help to workaround this.

@teeks99 I'm closing this. Feel free to reopen if there is still a problem.

[2020-02-27 13:56] awulkiew commented on #657
@mloskot It has to be fixed in these files before master branch is closed for 1.73:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/srs/projections/epsg.hpp
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/srs/projections/epsg_traits.hpp

[2020-02-27 18:07] mloskot commented on #657
@awulkiew I was wrong in https://github.com/boostorg/geometry/issues/657#issuecomment-583774079 agreeing with you on https://github.com/boostorg/geometry/issues/657#issuecomment-583737215 :-)

Here are some references:

1. [[josm-dev] projection Mercator, set EPSG 3785 instead of EPSG 3857](https://lists.openstreetmap.org/pipermail/josm-dev/2011-March/005432.html)

2. https://alastaira.wordpress.c

[2020-02-27 19:12] sudo-panda commented on #654
I would like to work on this issue.

[2020-02-27 19:19] mloskot commented on #654
@sudo-panda I don't think you have to request permission. You pick an item, work on it and you submit PR when you are ready to show anything.

IMHO, you don't have to wait until your contribution is polished perfectly and you should consider submitting PR if you wish to receive early feedback, even if it is half-finished. There will likely be multiple review iterations anyway.

[2020-02-28 09:46] sudo-panda commented on #654
The simplest way to implement `to_wkt` is to use the `write_wkt` itself and convert the string_stream to string. Similarly for `from_wkt` we can use the `read_wkt` function and return the string.

The other way would be to extensively change every function to return string instead of void and taking in a string_stream. Which one do you thin is better?

[2020-02-28 10:27] pauljurczak commented on #654
@sudo-panda I think the first option is a good start. It is somewhat inefficient (heap allocations and copying), but maybe good enough for most cases. It would definitely work for me.

[2020-02-28 10:47] awulkiew commented on #654
`to_wkt` should call `dispatch::devarianted_wkt` just like `wkt_manipulator` does. However `dispatch::devarianted_wkt` should not only be able to take any `OutputStream` but also `std::string` or rather `basic_string<CharT, Traits, Allocator>`. It would be enough to simply pass any of these two things and only when some `char` is added instead of directly using string formatting (`os << abc`) call

[2020-02-28 12:28] mloskot commented on #654
@awulkiew Good stuff, thanks!

@sudo-panda

My rule of thumb is to always start with option that is the least intrusive to the existing code.
IOW, adding new features without or with minimal changes to existing code is always the safest.
If you follow @awulkiew's excellent suggestion to "add another layer of abstraction", you will also follow that rule.

If you have a basic implementation, somethi

[2020-02-29 18:20] steveire opened #672 "Boost.Geometry can not be used with xmlrpc"
REF: http://xmlrpc-c.sourceforge.net/

[code]

Output:

[code]

[2020-02-29 19:28] mloskot commented on #672
@steveire This is annoying indeed, but doesn't the report belong to https://github.com/boostorg/qvm?

[code]

[code]

[2020-02-29 19:33] #672 closed

[2020-02-29 21:15] awulkiew commented on #672
@steveire A workaround for this would be to include only these parts of Boost.Geometry that you need, without transform strategies which are the only part that use QVM.

[2020-03-01 13:39] awulkiew commented on #672
@steveire  BTW, you should rather suggest changing the macro name in xmlrpc to something like `XMLRPC_CR`.

[2020-03-01 13:54] steveire commented on #672
xmlrpc is already fixed actually. It's just that the ubuntu package is out of date: https://bugs.launchpad.net/ubuntu/+source/xmlrpc-c/+bug/1865344

[2020-03-01 19:05] mloskot opened #673 "Add unit tests for geometry models"
This task is about adding new tests for basic classes like geometry models (e.g. `point`, `point_xy`, etc.) to exercise their basic operations.

Although we can be fairly sure most, if not all, are covered by the extensive tests of algorithms, there is a value of having separate unit tests for each of the models. Such tests clearly show (document!) what operations are actually tested. Not somethin

[2020-03-02 20:14] sudo-panda commented on #673
Is someone working on this or can I do it?

[2020-03-02 22:05] mloskot commented on #673
@sudo-panda I'm not aware of anyone working on it. Only @digu-007  mentioned  https://github.com/boostorg/geometry/pull/671#issuecomment-593085813 adding test for `point_xy`.

[2020-03-02 22:36] mloskot opened #674 "Untracked files after generating documentation"
After building docs, the local repo becomes polluted with untracked files.
Any reason we do not to add those to `.gitignore`?

[code]

[2020-03-02 22:55] digu-007 commented on #673
I was waiting for review in #671 and then I can send the PR for this issue as well.

[2020-03-02 22:56] mloskot commented on #673
@digu-007  A unit-test for `point_xy` is quite an independent task from PR #671

[2020-03-02 23:00] digu-007 commented on #673
@mloskot Yes, but my re-review is about unit test of `point_xyz`. I'm waiting for approval of that part.

[2020-03-02 23:05] mloskot commented on #673
@digu-007 That is clear. What I mean, that if you want to add unit test for `point_xy`, you can add it, as new PR, and you can add it separately from review and merge timeline of your PR.

[2020-03-02 23:15] digu-007 commented on #673
@mloskot Ok I'll send a PR tomorrow only, starting with `point_xy` and then I can work on the remaining models as well.

[2020-03-03 13:51] vissarion commented on #674
I do not see any.

[2020-03-04 22:18] #655 closed

[2020-03-05 16:09] DinosL opened #676 "Nsphere Usage"
Dear all,

I am trying to use nsphere to query an rtree with a circle with a standard radius. First of all, I was unable to import nsphere. I looked at the directory where boost is installed and I couldn't find a folder named "extensions". How can I use nsphere? Is there another way to achieve my goal without using nsphere?

Thank you in advance

[2020-03-05 16:10] mloskot commented on #676
Please, ask questions via the mailing list https://lists.boost.org/geometry/

[2020-03-05 16:42] awulkiew commented on #676
@mloskot Why do you think such questions should be asked at the mailing list? We had several questions at GitHub already and I think this is a good place for them since the Geometry mailing list is more or less dead.

[2020-03-05 16:44] DinosL commented on #676
Thank you. Mailing lists are a thing of the past and not user friendly.

[2020-03-05 16:54] awulkiew commented on #676
@DinosL Extensions only exist in the develop branch of Boost.Geometry so you either has to clone the git repo or copy the code from the develop branch and make sure it works well with your version of Boost.

A workaround would be to create a box enclosing the circle and use `bgi::satisfies` to filter out the elements that are outside of it while performing the query, so something like:
[code]

[2020-03-05 16:54] mloskot commented on #676
@awulkiew I applied what I know as common for Boost. My bad, I'll reopen.

@DinosL

No, they are not.
GitHub is very unfriendly if it comes to discussions as they do not offer threading what is a major PITA if threads get long and eventually tracking discussion flow becomes impossible.

It may be friendly from your POV, from POV of a 'one night git', when one jumps in, asks question, gets solution

[2020-03-05 17:02] DinosL commented on #676
That's why I wrote user friendly and not moderator friendly.

@awulkiew Thank you for your suggestion. Maybe o missed the part that say about the develop branch. If so, my bad for bothering.  I want my solution to be as fast as possible so I will benchmark both techniques if possible. I will then post my results and be like the one night git dude that texts the next morning :)

[2020-03-05 17:15] awulkiew commented on #676
@mloskot Right, I get your point. Indeed SO would probably be better for this kind of questions. However in this case the question is about the extensions which are a part of the develop branch, so not something for a regular user.

AFAIU the problem is that currently Issues are replacing other means of communication and are used for at least 3 purposes traditionally handled separately:
- bug repo

[2020-03-05 17:39] mloskot commented on #676
@awulkiew

Yes, I get that.  I'm either not convinced about such direction (due to GitHub lacking features) or I'm too allergic to treating open sources projects as software vendors.   To me, GitHub is a space where software development happens. Often such questions do not come from long-time users who also attempt to answer other questions, bring ideas, etc. A value that such non-issue ad-hoc que

[2020-03-05 21:48] mloskot commented on #674
@vissarion Thanks, I will add `.gitignore`-s

[2020-03-05 23:10] mloskot opened #678 "Doxygen error: Illegal PREDEFINED format '=', no define name specified"
[code]

The error seems to be caused by these `=`

https://github.com/boostorg/geometry/blob/8baddd3634cbd627be58b0bfd264d8512785e52d/doc/doxy/Doxyfile#L317-L319

I can't remember what was that [PREDEFINED](http://www.doxygen.nl/manual/config.html#cfg_predefined) config for, but it does not seem to be kosher syntax for Doxygen.

AFAICT, these two names are not used anywhere in the `.qbk` or `.html

[2020-03-06 11:16] vissarion commented on #678
I cannot reproduce it neither with `python 2` nor with `python 3`.
I am getting some warnings though
[code]
and also a few regarding `boost::geometry::index` like
[code]

[2020-03-06 11:18] vissarion commented on #678
Also, is it possible that removing the space in `(x) =` removes error? Although I do not see any reason not to remove the `=`.

[2020-03-06 11:44] mloskot commented on #678
Thanks for checking.

Yes, I can confirm those too.

I am using Python 2.7

I forgot to add which Doxygen I'm using:

[code]

Perhaps that makes a difference.

[2020-03-06 12:14] vissarion commented on #678
Indeed (I was with `1.8.13`). I can reproduce with `1.8.18` and also verify that the error is removed if you remove the space before `=`.

[2020-03-06 20:05] mloskot commented on #678
@vissarion Thank you for checking. That helps. I think we are safe to remove the `=`. I will do it.

[2020-03-06 23:17] #678 closed

[2020-03-09 10:03] vschoech commented on #629
This is still a problem in boost 1.72.0.
`\boost_1_72_0\boost\geometry\strategies\cartesian\side_by_triangle.hpp(123): error C4244: 'initializing': conversion from 'CoordinateType' to 'PromotedType', possible loss of data`

[2020-03-09 10:10] vschoech commented on #599
I can confirm that this issue is not reproducible in boost 1.72.0.

[2020-03-09 10:12] vschoech commented on #598
I can confirm that as of boost 1.72.0 this is no longer an issue in our code.

[2020-03-09 10:14] vschoech commented on #600
I can confirm that as of boost 1.72.0 this is no longer reproducible in our code.

[2020-03-09 10:14] vschoech commented on #597
I can confirm that as of boost 1.72.0 this is no longer reproducible in our code.

[2020-03-09 10:18] vschoech commented on #602
Confirmed that this issue is still present in boost 1.72.0. Looking forward to the next milestone!

[2020-03-09 10:21] vschoech commented on #603
As of boost 1.72.0, this problem is still present as reported!

[2020-03-09 10:29] vschoech commented on #604
Still missing implementations for covered_by in boost 1.72.0.

[2020-03-10 08:15] #673 closed

[2020-03-12 10:07] sudo-panda opened #681 "Adding text to svg_mapper before any geometry causes everything to collapse to a point"
If this code is run:
[code]
the output file ( `map.svg` ) produced is :
[code]

which shows this:
![map](https://user-images.githubusercontent.com/16690760/76509457-0f125680-6476-11ea-8f9e-8deeccdf1f1d.png)

while if the same text function is called after the geometries are added:
[code]

The output produced is correct:
[code]

![map(1)](https://user-images.githubusercontent.com/16690760/76509782-

[2020-03-12 10:09] sudo-panda commented on #664
I would like to work on this. Is what @mloskot suggested final or does this need more inputs?

[2020-03-12 10:18] mloskot commented on #664
@sudo-panda If my comment does not receive any responses and if my suggestion _seems sensible to you_, and you are willing to give it a go, then I'd suggest you to submit PR.

Once there is a (working) proof of concept ready to review, it will be much easier for more people to offer specific feedback. It may turn out the idea is a good one and your PR will be accepted or we will find problems and

[2020-03-12 12:06] gigimava opened #682 "Will overlay operations handle spikes?"
In a past private email exchange, @barendgehrels mentioned it was planned that all overlay operations would be able to handle spikes (including, in particular, intersection against a degenerated box).

I see that's not the case yet, in boost 1.72.0
Is this feature still on its way, or has it been scrapped?

[2020-03-13 05:03] sudo-panda commented on #664
@mloskot Since this appears to be closely related  to the header file I am already working on, do you think it will be better if I let that one get merged first?

This seems like a detect approach but I think we should let the users decide which one to follow `POINT` or `POINT Z`.

[2020-03-13 20:45] mloskot commented on #664
You need to link issue or PR or whatever you are talking about.

I'm not familiar with this name, could you elaborate?

If user serialises `point_xy`, then obvious choice is `POINT`.
If user serialises `point_xyz`, then obvious choice is `POINT Z`.

Do you mean to offer user an option to force `POINT` output for `point_xyz` or `POINT Z` output for `point_xy`?

[2020-03-14 02:02] sudo-panda commented on #664
I was talking about #670

Sorry, that was a typo. I wanted to say something on the line of this being a good approach.

I mean to let users decide whether to output `POINT` or `POINT_Z` for `point_xyz`. But I guess since boost doesn't have to maintain backwards compatibility it's fine if we don't give users that option.

The only doubt that remains is should I start working on this before #670 is

[2020-03-14 04:55] sudo-panda opened #683 "Convex Hull gives wrong output for 3D points."
The Graham Andrew strategy has been implemented for 2D cartesian geometry but it does check if the supplied geometry is 2D or 3D and gives wrong output when supplied with 3D geometry.

[2020-03-14 15:30] spacewafer commented on #633
Hi, Has a PR been submitted for this issue yet or does @vissarion want someone else to work on this? Else we can try a divide-and-conquer approach for the same (which proves to be quite efficient, as I have implemented it before).
https://en.wikipedia.org/wiki/Dynamic_convex_hull

[2020-03-14 15:46] sudo-panda commented on #633
@spacewafer vissarion has been working on this for quite a while as you can see it in his [fork](https://github.com/vissarion/geometry/tree/feature/shortest_points_new)

[2020-03-14 15:49] spacewafer commented on #633
@sudo-panda  Oh alright then, Thanks!

[2020-03-16 12:50] vissarion commented on #683
Thanks for noticing. Could you please add a minimal example to reproduce this behaviour.

[2020-03-16 12:58] #658 closed

[2020-03-16 21:14] sudo-panda commented on #683
@vissarion , yeah sure. The below example uses a 3D multipoint as an input and gives out a 3D multipoint as an output.

[code]

The output that we get is:
[code]

While the hull should contain all the points except `(0.5 0.5 0.5)`.

Also in my opinion if the supplied output geometry is multipoint we should not append the start point at the end as it is self implied. it should be added only when a

[2020-03-19 13:08] vissarion commented on #683
It probably discards the 3rd coordinate and computes the convex hull of the projection in the first two. However, the user should be notified for this behaviour. This notification should be the same for all algorithms that does not handle correctly the 3d geometries.

Regarding, 3D convex hull algorithms. You should do some research on algorithms and implementations if you want to add it to your a

[2020-03-19 14:56] sudo-panda commented on #683
I think we should give a compile time warning stating that `Supplied argument(s) is/are 3D but will be treated as 2D`. We can generalize the template stating _supplied type_ isn't supported and will revert to a _lower type_. Once we agree on what is best I will start working on adding the functionality.

As for the 3D convex hull algorithms, after thinking it over I think it better to add **Quickh

[2020-03-25 10:54] trex58 opened #686 "Issue on AIX with -O2 dealing with acos(-1)"
Hi,
On AIX, when compiling Boost 1.69.0 with GCC 8.4 or 9.3, with **-O0**, the test:
../bin.v2/libs/geometry/test/algorithms/algorithms_densify.test/gcc-8.3.0/debug/visibility-hidden/algorithms_densify.run…
is 100% OK.
However, with **-O2**, the test:
  test_linear<ls_t>("LINESTRING(1 1, -179 -1)");
from:
  ../libs/geometry/test/algorithms/densify.cpp
 fails with:
../libs/geometry/test/algorithms/

[2020-03-25 11:58] awulkiew commented on #686
Hi, and thanks for this detailed report!

I haven't looked into it but assuming your findings are the cause then the simplest thing is to trim `dot01` to [-1, 1] range before passing it into `acos()`. Numerical imperfections like that are quite common. We have covered many of them in various places but it seems not in this one.

Sample fix:
[code]

[2020-03-25 12:19] mloskot commented on #590
@awulkiew Your https://github.com/boostorg/geometry/issues/686#issuecomment-603800171 made me wonder if one of baby steps could be adding `BOOST_CONSTEXPR` to the math utilities (to pick constexpr-ed `std::max`, etc. when using modern compilers). What do you think?

[2020-03-25 12:47] trex58 commented on #686
Hi,
Thanks for the fix!
I've tested it in my environment, and that works fine!

I have seen another place where I'm sure the -O2 fmadd instructions generates an issue. And I have plenty of NaNQ issues appearing with -O2 . So, when possible, I'll use this kind of patch. However, that requires to find the exact place where the issue appears ; not always easy.

On your side, do you plan to apply your

[2020-03-25 14:25] awulkiew commented on #686
Yes, I will fix it on our side.
If you find other places like that please let us know.

[2020-03-25 14:38] awulkiew commented on #590
@mloskot Yes, that's a good idea. In general modernizing math. `constexpr` could also be added to point, box and segment models. Move emulation could be removed in the R-tree. Another starting point could be our range utilities which currently doesn't use rval references.

But I think the first thing we should do is to decide how we will handle this change. We should announce it for sure but first

[2020-03-25 14:45] trex58 commented on #686
Yes. Sure. I'm now looking at issues without -O2 still with the "geometry" module .
I'll warn you if I encounter other issues like this one, or others.

I already know that, for the "math" module, which executes 1,574,437 asserts within Boost v1.69.0, I see about 16,000 errors on AIX... with a few root causes I am now studying and mainly dealing with bugs within GCC that we have never seen before

[2020-03-25 15:03] trex58 commented on #686
More info.
On AIX, we have a GCC option -ffp-contract=off which enables to NOT use fmadd .

When using it while building test "legendre_stieltjes_test" with -O2, I can see that my issues there disappear.
The issues I have:
../libs/math/test/legendre_stieltjes_test.cpp(95): error:
    in "LegendreStieltjesZeros": absolute value of ls2(zeros[0]){-2.7755575615628914e-16} exceeds 2.2204460492503131e-1

[2020-03-25 15:14] trex58 commented on #686
We have a recent Intel machine with AVX.
And we can see that the issues are there too.

Here is a simple C code which shows the first issue:
` # cat /tmp/round.c
 #include <stdio.h>
 #include <stdlib.h>

int main(int argc, char *argv[])
{
        double v1, v2, v3, ret;

        v1 = strtod(argv[1], NULL);
        v2 = strtod(argv[2], NULL);
        v3 = strtod(argv[3], NULL);

        printf("%.1

[2020-03-25 17:06] awulkiew commented on #590
@mloskot I think I misunderstood you earlier. Adding `BOOST_CONSTEXPR` or `BOOST_CXX14_CONSTEXPR` could be added even without C++11 requirement. It is of course welcome but I think we should go straight to proper C++11 or C++14.

[2020-03-25 17:57] mloskot commented on #590
@awulkiew Yes, my comment assumed no change to required C++ version yet, then `BOOST_CONSTEXPR` and others could come handy.

Yes, me too, I sign the switch to newer C++ with all my paws :)

Yes, I also think C++11 is the feasible step forward.

I have just asked the Boost mailing list about basic recommendations, let's see.

[2020-03-25 18:49] barendgehrels commented on #590
So I repeat here my comment of last year:

"Therefore I would prefer to upgrade after all rescaling has been removed."

We just have to wait a bit more.

[2020-03-25 18:50] barendgehrels commented on #590
And we probably can go to C++14 then.

[2020-03-25 18:52] mloskot commented on #590
@barendgehrels Then perhaps it's the right time to add the deprecation message to e.g.  in `boost/geometry/geometry.hpp` or  `boost/geometry/geometries/point.hpp` and release it with the upcoming Boost 1.73

[code]

[2020-03-25 19:09] barendgehrels commented on #590
@mloskot :  this message sounds in general fine to me and does not restrict us to a specific version.
Thanks.

The only thing I doubt is the wording `deprecated in ... 1.73` because it is obviously still there in all the code. But if this is the std/recommendation, then it is fine to me.

[2020-03-25 19:34] pdimov commented on #590
The Standard meaning of "deprecated" is exactly that, still there in the code, but will be removed at some later point. http://eel.is/c++draft/depr#2

[2020-03-26 01:42] awulkiew commented on #590
@barendgehrels out of curiosity, why do you prefer to wait with it until the rescaling is removed? After announcing the change in the requirement of the C++ standard we wouldn't rewrite the library. In particular we could agree that we do not touch parts that you're working on. I think that for you nothing would change besides the fact that you would be able to use newer C++ while working on resca

[2020-03-26 15:20] trex58 opened #688 "Tests done on Intel/AVX&AVX2 -march=native should fail"
Hi,
I am porting Boost 1.69 to AIX.
I have issues with -O2 due to the Power **fmadd** assembler instruction being used with -O2 and thus generating NOT PERFECT results.
See: https://github.com/boostorg/geometry/issues/686  for my issue on AIX, dealing with a test of "geometry".
I explain in this 686 issue that we see the same kind of issue with Intel **vfmadd132sd** assembler instruction, on a sma

[2020-03-26 16:18] trex58 commented on #686
I have checked on a Intel hardware machine with AVX & AVX2 : the above test does fail too on such Intel HW when compiled with -O2 and -march=native .

[code]

[2020-03-26 16:19] awulkiew commented on #688
Boost.Math is a different library. You should've reported it here: https://github.com/boostorg/math

[2020-03-26 16:26] trex58 commented on #688
Oh yes. I'm new to Boost. Sorry.
However, this issue with **-O2 / fmadd** deals with all boost libraries. Just providing this here within geometry since it's the next step of my analysis.
Anyway, I'll open it on math.
Sorry for the inconvenience.
Please notice that I have added a new comment in https://github.com/boostorg/geometry/issues/686 about test algorithms_densify showing the issue.

[2020-03-26 16:28] trex58 commented on #688
Issue moved to: https://github.com/boostorg/math/issues/327

[2020-03-26 16:28] #688 closed

[2020-03-26 21:42] barendgehrels commented on #590
@awulkiew you are right, I first thought we would freeze a version, but that is not necessary and then waiting is not necessary. Thanks.

[2020-03-27 11:24] mloskot commented on #590
Following https://github.com/boostorg/geometry/issues/590#issuecomment-604022413 I have submitted proposal with the deprecation announcement in https://github.com/boostorg/geometry/pull/689. It needs to be refined after at least these two are agreed upon:

1. Which C++ version we switch to, C++11 or to C++14?

   We seem to have already agreed that C++17 is not an option.
   We seem to have alread

[2020-03-27 14:47] mloskot commented on #585
There have been changes related to this issue and the current situation is this:

1. Boost `develop` docs only include https://www.boost.org/doc/libs/develop#lib-geometry

2. Boost `master` docs no longer include the `#lib-geometry-index` but still include the https://www.boost.org/doc/libs/master#lib-geometry-extensions
    I suspect, this is due to the fact Geometry's `develop` has not been full

[2020-03-27 16:50] awulkiew commented on #585
@mloskot All changes related to sublibs metadata were already merged into master. The master branch does not have extensions directory at all. By mistake I pushed extensions directory only with metadata into master at some point but I removed it later.

So I don't know what's happening there. Does it pick up the sublibs directories from develop branch but then metadata from master branch? Is this

[2020-03-27 19:54] mloskot commented on #585
@awulkiew I have no idea what is going on, how it works, but I've just asked for help here [[geometry] Global Boost documentation for master not refreshed?](https://lists.boost.org/Archives/boost/2020/03/248531.php)

[2020-03-28 17:10] barendgehrels commented on #590
* `We seem to have already agreed that C++14 is a good choice.` -> I agree
* `Perhaps 1.75 is a good round number` -> I agree

[2020-03-28 18:34] vissarion commented on #590
+1

[2020-03-28 20:24] mloskot commented on #590
@barendgehrels @vissarion I adjusted the deprecation message in #689
@awulkiew Do you agree with that too?

The only reason I'm a bit rushing this deprecation notice is that we are close to Boost 1.73 closure.

[2020-03-28 23:14] awulkiew commented on #590
@mloskot Yes, I agree, thank you.

Btw, this is not a major change so I think we have time till Apr 8 or maybe even after beta is released.

[2020-03-30 14:59] staffik opened #690 "`_union` produces invalid polygon"
Here is a minimal working example: [mwe.zip](https://github.com/boostorg/geometry/files/4403631/mwe.zip)

The attached image presents the geometry that boost thinks is valid (it is a point overlapping with a segment).
But looking at the image we see a short line that probably should not be visible there, so probably the polygon should be invalid at this stage.

Then we do an union and difference,

[2020-03-31 23:22] rconde01 opened #691 "Complexity for intersection"
The complexity for intersection is not available in the documentation.

https://www.boost.org/doc/libs/1_72_0/libs/geometry/doc/html/geometry/reference/algorithms/intersection/intersection_3.html

Is it located somewhere else? Or is it known but not documented?

[2020-04-05 17:58] JaapAap opened #694 "Question: geodetic datums"
While reading up on the capabilities of the library (I am not a user at this moment), and in particular the design rationale, I noticed that there is a notion of a geographic coordinate system. However, such a system is typically associated with a geodetic datum (WGS84, ED50, NAD83 and many others). Hence, I would have expected support for several geographic coordinate systems - each with their ow

[2020-04-05 19:06] awulkiew commented on #694
In Boost.Geometry the geographic CS implies that mathematical operations are performed on the surface of a spheroid and that the segments of geometries (besides boxes) are defined by geodesics. The data models are not bound to any specific datum or spheroid. Parameters of the spheroid can be defined by passing them into a coordinate-system-specific strategy with the default being wgs84 spheroid.

[2020-04-05 19:32] JaapAap commented on #694
Thanks for that,  I much appreciate your answer and examples!! As you said, my purpose/use case is indeed somewhat more general than what is currently supported. I guess that as a result of my (geodetic) use case, from a conceptual standpoint I would have expected the coordinates to be defined with respect to a datum - it seems unnatural to me (and potentially somewhat error prone) that the comput

[2020-04-05 20:43] awulkiew commented on #694
Actually I had the opposite in mind. AFAIU your use case is domain-specific, GIS-oriented. I meant that Boost.Geometry algorithms has more low-level, general-purpose, STL-inspired interface. E.g. if you were writing a vector graphics editor, or a game, or PCB layout processing app (though this would rather be Boost.Polygon's domain) you would not want to deal with datums at all.

Boost.Geometry's

[2020-04-09 08:34] JaapAap commented on #694
Understood - I guess one man's special case is another man's generalized one - where I considered the 'no datum' case is a special case of a datum, you could indeed also consider the 'datum' case an application-specific specialization building on the library as it is today. Your 'less-compared' analogy makes sense - and I think it made me understand the design better. However, I am still scratchin

[2020-04-09 13:23] awulkiew commented on #694
Yes, you could treat it as an approximation. For me it's a matter of saying to the library what mathematical formulas should be used by the algorithm.

Or consider this. You could write an app calculating e.g. a distance on the surface of a generalized planet/moon, let's say distances on the Earth and on the Moon so you would express Earth coordinates in WGS84 (EPSG:4326) and Moon coordinates on a

[2020-04-09 13:44] JaapAap commented on #694
I might indeed opt for an additional abstraction level and/or a custom point type. I will close the comment as I am happy with my current level of understanding and don't want to claim any more of your time! Many thanks for all your help and providing me with more insight.

[2020-04-09 14:30] awulkiew commented on #694
No problem. I'm glad everything is clear.

[2020-04-09 14:30] #694 closed

[2020-04-09 14:37] awulkiew commented on #691
No it is not. Internally we use space partitioning similar to kd-tree and sorting intersection points by the position on geometry so the average complexity is something around linearitmic in terms of number of segments in geometries and number of intersections found. It of course depends on the data as in all cases when space partitioning is involved,

[2020-04-12 23:38] tinko92 commented on #690
This is not a solution and I may be missing something but I hope the following helps with diagnosing the issue.

If I disable rescaling (at heast that is what I hope I did, here is the patch: [0001-disable-rescaling.patch.txt](https://github.com/boostorg/geometry/files/4467287/0001-disable-rescaling.patch.txt) ), it seems to work. At least it produces a Multi_Polygon that passes as valid and looks

[2020-04-13 11:12] barendgehrels commented on #690
@tinko92 thanks for your analysis. An easier patch is just to define `BOOST_GEOMETRY_NO_ROBUSTNESS`, which causes all rescaling to be turned off. That setting will be the default in the future.

The function `side_by_intersection` will be gone earlier, after merging my PR #692
Besides that, it was only used in buffer, and this is not a buffer problem. So there is no need to make it robust.

Verify

[2020-04-15 11:46] barendgehrels commented on #682
I don't remember the context, and I can't see from your nickname who you are, so I can't look up our conversation.

In general spikes are handled, already for several versions, but there are some exceptions.

If you have a case where it is not handled correctly, you're welcome to create an issue including the WKT of the inputs.

[2020-04-15 11:48] barendgehrels commented on #681
But you should never do this:
[code]

You can only add texts or map geometries *after* setting the bounding box, using add.

Can we close this issue?

[2020-04-15 20:28] mloskot commented on #585
My thread has received no answers and the problem is still happening in 1.73 beta1:

1. Go to https://lists.boost.org/Archives/boost/2020/04/248687.php
2. Download `boost_1_73_0_b1.7z`
3. Unpack and load `boost_1_73_0/index.html`
4. Go to `boost_1_73_0/libs/libraries.htm`
5. Hit the "Geometry Extensions" link
6. Loaded is `/boost_1_73_0/libs/geometry/extensions/index.html` which does not exist

I'

[2020-04-17 04:46] awulkiew commented on #657
Thanks again for the report and discussion. The fix will be released with 1.73.

[2020-04-17 04:46] #657 closed

[2020-04-17 09:41] tinko92 commented on #585
The following observations are not backed by a complete understanding of the website and the way it is updated, but the following observations based on trying to run the website locally may be helpful:
Consider https://www.boost.org/doc/libraries.xml , which I believe is generated using https://github.com/boostorg/website/blob/master/site-tools/update-doc-list.php :
We find:
- geometry/extensions,

[2020-04-17 22:59] tinko92 commented on #585
Minor followup. By applying the following steps I was able to make the "geometry/extension" disappear in the output of generate.php?page=libs/libraries.html&version=1.72 :
1. clone boostorg/website, set it up with local mirrors of all boost repositories on local webserver
2. clone local mirror of boostorg/boost.git recursively, commit and push this change ( https://github.com/boostorg/geometry/com

[2020-04-18 04:09] glenfe commented on #585
https://github.com/boostorg/website/commit/d8c79ba5cb78729cfe02bfbecd9a74f834de7b9f and https://github.com/boostorg/website/commit/8d463e641c6007acd128ee14bf08070c4dbd08c3 .

[2020-04-18 21:27] lievenvanderheide opened #698 "Line-line overlap test gives incorrect result"
The two line strings in the following code clearly overlap, yet bg::overlaps returns false:

`
	namespace bg = boost::geometry;

	using point_t = bg::model::point<double, 2, bg::cs::cartesian>;
	using linestring_t = bg::model::linestring<point_t>;

	linestring_t a =
	{
		point_t(30, 160),
		point_t(100, 180),
		point_t(110, 210),
	};`

	linestring_t b =
	{
		point_t(85, 185),
		point_t(105, 190)

[2020-04-18 21:49] tinko92 commented on #698
I took your example and made an image of it with the svg_mapper. It looks like this:
![no_overlap](https://user-images.githubusercontent.com/17624459/79672045-b51c5380-81ce-11ea-8544-eaba8256ecf7.png)
I don't think that constitutes an overlap in the sense of the OGC Simple Feature Specification ( http://www.opengeospatial.org/standards/sfa ) because the intersection of the interiors of a and b is

[2020-04-18 22:01] lievenvanderheide commented on #698
Ok, in that case bg::crosses is indeed what I'm interested in.

I think this is something which really should be added to the documentation, because if not stated otherwise, then I'm pretty sure most people would assume that two geometries overlap if they share at least one point.

[2020-04-18 22:17] #698 closed

[2020-04-19 03:06] awulkiew commented on #698
Or maybe do you have `intersects` in mind?
Also have a look at this: https://en.wikipedia.org/wiki/DE-9IM

[2020-04-19 03:12] #681 closed

[2020-04-19 03:12] #691 closed

[2020-04-19 03:14] #676 closed

[2020-04-19 14:36] #585 closed

[2020-04-19 14:41] tinko92 opened #699 "Verifying that cartesian side_robust works well in all cases"
I would like to submit a PR in the future to move side_robust ( https://github.com/boostorg/geometry/blob/e1521a2735f21f319b7f00929b78dc6f9a3dfdaf/include/boost/geometry/extensions/triangulation/strategies/cartesian/side_robust.hpp ) from extensions into the library proper. It is a robust cartesian side strategy with tuneable robustness/performance.

In #690 it was mentioned by @barendgehrels that

[2020-04-22 08:18] barendgehrels commented on #699
Hi @tinko92 , thanks for this, it is very interesting.
Can you also compare the (speed) performance? Side is called a lot in our code, so we have to know how much slower (or faster, but robust is usually a bit slower) it is...

[2020-04-23 00:08] tinko92 commented on #699
After some further analysis, I was able to improve the performance of side_robust for non-degenerate input (see PR #701 ). For the sake of brevity, I will only include results for uniformly distributed points and purposefully degenerate points and only for the computer with the Xeon CPU:

uniformly distributed points
GCC 9.3: 93ms
Clang 10: 65ms

purposefully degenerate points
GCC 9.3: 813ms
Clang

[2020-04-23 00:25] tinko92 opened #702 "Minor consistency issue with modern CPUs in side_by_triangle"
While reading the code for side_by_triangle, I noticed that there is some kind of normalization of the order of points for consistency purposes as described in the comment starting in this line: https://github.com/boostorg/geometry/blob/56a9f79036dc3bce8dcd0483cfa728a196997f81/include/boost/geometry/strategies/cartesian/side_by_triangle.hpp#L189

GCC will break this effort when it automatically in

[2020-04-23 06:07] dkondor opened #703 "read_wkt() too strict on whitespace?"
This might be more of a feature request than a real issue. Any case, I'm deciding to report it here in case someone else runs into the same problem.

Currently, read_wkt() throws an exception if the input contains a tab or newline character anywhere. This can be a hassle if the WKT is coming from a source which includes any of these.

I understand this might be an intentional design decision. At t

[2020-04-23 13:39] awulkiew commented on #703
Yes, AFAIU the standard allows only space, see:
https://www.ogc.org/standards/sfa
page 54
[code]

Allowing tabs seems to be reasonable but newlines not so much. And there is also `\r` as well as all other unicode spaces. And this would be checked for all users, not only the ones who deal with non-conformant inputs. It could be an option, but this would make the interface unnecessarily more complex

[2020-04-23 13:40] awulkiew commented on #703
Yes, AFAIU the standard allows only space, see:
https://www.ogc.org/standards/sfa
page 54
[code]

Allowing tabs seems to be reasonable but newlines not so much. And there is also `\r` as well as all other unicode spaces. And this would be checked for all users, not only the ones who deal with non-conformant inputs. It could be an option, but this would make the interface unnecessarily more complex

[2020-04-24 06:50] vissarion commented on #703
I am in favour of supporting the standard and leaving the rest of string manipulation to the user.

[2020-04-24 12:59] mloskot commented on #703
I agree with @vissarion

For reference, here is what PostGIS reports for the examples in question

[code]

One difference between PostGIS and Boost.Geometry is this case:

[code]

which succeeds by flux, simply PostGIS terminates parsing at `)`, so the trailing `\n` is just ignored.

BTW, SQL Server is much more relaxed though and I wouldn't take it as a standard implementation.

[2020-04-26 21:09] isohedral opened #704 "Inconsistency in overlaps() vs. intersection()?"
Hi,

I'm confused about a particular case of checking for overlaps.  I've got two polygons, `p1` and `p2`, that meet along a line. I'm expecting `overlaps(p1,p2)` to return `false`, but I get back `true`. What's weird about that is that when I try to prise apart what's happening, I find that the intersection of `p1` and `p2` is empty, which is inconsistent with the claim that the shapes overlap.

[2020-04-26 22:58] tinko92 commented on #704
Hi, I cannot tell you why you get the inconsistency without further analysis, but I have a suspicion why you get true for overlaps:

If I didn't make a mistake, your problem looks like this:
![polygons](https://user-images.githubusercontent.com/17624459/80321544-1f13a900-881e-11ea-8637-7689da218335.png)

With:
[code]
The first thing I notice is that your polygon is counter clockwise but the defaul

[2020-04-26 23:19] isohedral commented on #704
Regarding polygon orientation, my apologies—I had been experimenting with both CW and CCW orientation and left the example code in the wrong state.  In my main implementation I've got the polygon type correctly declared as CCW, and the bug still manifests.

Sure, I would have chalked things up to pure numerical issues and not submitted an issue.  The part that struck me as odd was that `overlaps()

[2020-04-26 23:34] tinko92 commented on #704
I am not a maintainer, so I don't know if union_ deletes collinear vertices and if there is a way to stop it. But point 7 is not strictly collinear so that may be be a failure in robustness as well.

I would be interested in looking at it, if it would not be too much trouble, could you show me the data that you fed into union_? Maybe I can look at it and determine whether point 7 is not included b

[2020-04-27 02:55] isohedral commented on #704
I think this example demonstrates the disappearing vertex. The two input polygons have 9 vertices (including the duplicates at the end).  You'd expect the union to have 15 vertices, but it has 14. Feedback welcome (including how to force collinear vertices to stick around, if that's possible).  Keep in mind that my polygons are CCW.

[code]

[2020-04-27 03:49] dkondor commented on #703
Thank you, I understand your points.
I feel it would be really helpful if:
  - there was a note in the documentation about whitespace
  - exception text mentioned the problem is with whitespace (at least in obvious cases of \t, \n, \r -- the case of fancy Unicode whitespace is probably much less common)
I can create a pull request for both of these if that's OK with you.

[2020-04-27 03:58] dkondor commented on #703
Actually my original problem included a case like this. Of course, I could easily fix it once I realized that my string contained an extra newline. Still, at first, I was baffled by the exception I get.

[2020-04-27 07:44] tinko92 commented on #704
Thanks. Unfortunately, my knowledge of the implementation of union_ is insufficient to tell how to force it to keep collinear vertices. I hope somebody else can help you with that.

However, here is one observation, maybe it helps you work around this issue: If I build a program that computes the union of these two polygons and I pass "-DBOOST_GEOMETRY_NO_ROBUSTNESS" to g++ to define the no-robust

[2020-04-27 10:30] barendgehrels commented on #699
Yes, we have several benchmark tests. `star_comb` and `recursive_polygons` are useful ones. They call `side_by_triangle` a lot, and from several locations. So probably the most convenient is (temporarily) call your code from there, instead (conditionaly) and compare behaviour.

There are boost program options, so you can see how it can be called (`--help`). I just called it like this: `star_comb -

[2020-04-27 20:15] tinko92 commented on #699
Thanks, I was unaware of those. I ran them with --count 50 --point_count 100 and --count 10000 respectively on a machine with a XEON E3-1505Mv5, GCC 10, here are my results:

|                                                                                 | recursive_polygons | star_comb |
|---------------------------------------------------------------------------------|--------------------|----

[2020-04-28 12:21] awulkiew commented on #703
@dkondor I think we're leaning more towards keeping the existing behavior of `read_wkt()`.

Of course we're ok with you creating a PR. Especially the documentation should be easy to improve. I'm not sure about the exception since it already does inform about the parsing error and the place in the string where it occurred, right? I only skimmed through the code though so it's probable I'm missing s

[2020-04-28 14:44] dkondor commented on #703
Great, I created the PRs for what I had in mind. My problem with the exception was that even though it quotes the problematic token, if that token is a whitespace character, it was not obvious to me. Since no one complained on this before, it might be just that I'm not typical in your userbase :)

[2020-04-29 11:44] barendgehrels commented on #699
Very good! OK so it is not only better but also a bit faster, that is really good news!
Thanks for your tests!

So we can replace side by triangle with your approach, in 1.75. That is basically fine indeed. With respect to my own actions (removing rescaling), because this side is more robust, it might help there too. So I will check that (after my current buffer actions, so probably 2 weeks from n

[2020-04-30 16:52] tower120 opened #709 "warnings with gcc in varray_detail"
https://wandbox.org/permlink/rK0u8KeoiRdJRuc4

[code]

Output:
[code]

[2020-04-30 17:33] awulkiew commented on #709
Thanks for the report. It seems that this warning is generated by GCC >= 8.

AFAIU this is a false positive. The intention is to copy-construct the value here [1], not to assign to it.

`boost::has_trivial_copy<T>::value` is checked prior to that and for `std::pair<point, std::size_t>` the value is `true`. According to the documentation [2]:

I'll think about suppressing it. The simplest thing to

[2020-05-01 06:54] tower120 commented on #709
The thing is, std::pair is not trivially_copyable.

[2020-05-01 22:13] awulkiew commented on #709
Yes, I think you are correct pointing it out and that it is not false positive. The standard says that in order to copy a value by copying the undelying bytes the type has to be trivially copyable and this means trivial copy ctors, trivial copy assignments and trivial dtor. AFAIU the older standard (03) was even stricter as it required the type to be POD. So AFAIU everything else is UB.

Now I'm w

[2020-05-02 07:10] tower120 commented on #709
Frankly speaking, I don't think that you'll see any performance win by replacing "=" with memcpy...

[2020-05-02 13:25] awulkiew commented on #709
Yes, this it probable. Yesterday I tested the performence of `varray::push_back` with VS2017 and it was the same for placement new vs `memcpy` for copy-construction. However I saw benchmarks on the internet where the performance improvement is there. As usual this may depend on the compiler, optimization level, OS or hardware. Furthermore in `push_back` only one value is copied this way, while per

[2020-05-02 16:03] tower120 commented on #709
I didn't dig into guts of `varray`, and don't know how its work.
My reasoning is - if compiler see that type is bitwise-copyable, why it should generate suboptimal code, which differs from memcpy?

[2020-05-02 16:10] tower120 commented on #709
Another thing is "copy elision"... If std::memcpy implemented as underlying call to OS API, compiler will not be able to elide it.

[2020-05-02 16:57] awulkiew commented on #709
I have nothing against changing it after seeing a proof that this is indeed the case with several compilers. Or at least if you or anyone else discovered that varray might be faster in your/his/her specific case. I'd gladly review a PR with such change.

[2020-05-07 08:05] vissarion commented on #699
@tinko92 great!

@barendgehrels I think it would be better instead of replacing to have two options: robust/slow, non-robust/fast, maybe two different strategies. Obviously the current non-robust implementation is not that fast but this should be able to get fixed. On way would be to use the implementation of robust predicate and let the user parameterize it to have a fast and not-so-robust versio

[2020-05-12 01:25] tinko92 commented on #699
To address the suggestion to have two versions (robust and fast), I have performed one more set of synthetic benchmarks to assess the performance/robustness trade-off in the raw evaluation of the orientation predicate. Thanks @vissarion for the advice to compare to the fast CGAL predicate, it made me realize that side_robust<double, 0> was not optimal as I believed before the benchmark:

times giv

[2020-05-12 07:28] vissarion commented on #699
Thanks @tinko92 for those benchmarks! For completeness could you please include also the two versions of `side_by_triangle` on this table. I guess will be slower than side_rodust but faster than exact CGAL. What about correctness?

Also I guess that "CGAL (exact predicate kernel)" means [Exact_predicates_inexact_constructions_kernel](https://doc.cgal.org/latest/Kernel_23/classCGAL_1_1Exact__predic

[2020-05-12 14:18] tinko92 commented on #699
Your guess is correct, I'll edit the above comment to be more precise. I tried CGAL::Cartesian but for some reason it was slightly slower than CGAL::Simple_cartesian. This might be a limitation with my benchmark code or I might be missing some define that should be used (I currently only define NDEBUG).

Here are side_by_triangle-times for comparison:
uniform random coordinates: 21.64ns
perturbed

[2020-05-13 14:55] #709 closed

[2020-05-13 15:02] awulkiew commented on #709
Thanks again for this report. I'll probably go back to this later and as you suggested remove `memcpy` entirely.

[2020-05-13 15:14] tower120 commented on #709
I did not actually suggest to completely remove it...
I just said that I would expect them to have exact performance characteristics....

[2020-05-13 16:34] awulkiew commented on #709
In some cases you expect them to have even better performance and your reasoning makes sense. :)

Furthermore I did some quick benchmarking and indeed there is no difference and in some cases the performance may be greater (e.g. raw assignment seems to be faster for PoD types than placement new or memcpy). No worries, I'll test more before changing anything.

I'm just letting you know that at some

[2020-05-16 20:13] patrickop opened #713 "buffer fails for multilinestring containing points with significantly different precisions"
The below `multilinestring` contains two `linestrings`, one is 1 unit long, the other 1e-7 units.
Now, when this `multilinestring` is `buffer`ed, the resulting `multipolygon` is empty.
If the `multilinestring` only contains either one of the two `linestrings`, the `buffer` algorithm works as I would expect.
My expectation when `buffer`ing a `multilinestring` is that the resulting `multipolygon` is

[2020-05-16 21:31] tinko92 commented on #713
While this is neither a real explanation nor a general solution, if I add the #define for BOOST_GEOMETRY_NO_ROBUSTNESS before including Boost.Geometry and thereby disable rescaling (you could also set it via g++ by adding -DBOOST_GEOMETRY_NO_ROBUSTNESS), I get an output that looks like the union (if I didn't misread it) of the output for the individual linestrings. And according to the source comm

[2020-05-18 08:32] fsimonis opened #714 "Missing Citation Guideline"
**Question**
How do I cite boost.geometry as a project?

**Potential Solution**
Include a bibtex reference item in your readme, wiki, or as a separate file.

**Background**
I would like to cite your project in an upcoming paper but cannot find a guideline on what to cite.
Boost.geometry has already been cited a couple of times, but [these citations are inconsistent](https://scholar.google.de/schol

[2020-05-20 13:40] vissarion opened #715 "Intersection of geometry with box"
There are a few issues related to missing implementations and incosistent use of boxes in intersection algorithm, in particular when computing intersections between a geometry and a box. Consider the following piece of code
[code]
which correctly returns
[code]
Then if we change coordinate system by replacing `bg::cs::cartesian` for example with `bg::cs::geographic<bg::degree>` then we get
[code]

[2020-05-20 15:54] autc04 opened #716 "Ring iterators required to return references to points, otherwise dangling references happen"
According to my reading of the documentation, iterators for the vertices of an adapted ring type are allowed to return any type convertible to `T` from their `operator*()`.

However, linear_segment_or_box.hpp, line 101 constructs a `referring_segment` from dereferenced iterators into a ring:

[code]

where `range_segment` is defined as:
[code]

If the return value of `*it0` and `*it1` is anything

[2020-05-20 21:56] awulkiew commented on #716
Yes, I think it's a bug in the library. Thanks for reporting!

[2020-05-25 23:05] awulkiew opened #717 "Umbrella strategies proposal."
This is a followup of a discussion about umbrella strategies from this PR: https://github.com/boostorg/geometry/pull/708 and a comment (from somewhere else?) which I'm unable to find right now.

THE PROBLEM

I'd like to propose an interface of umbrella strategies. I had several goals in mind:
* The interface should be clear for the user and easy to use without the need to know all small details of

[2020-05-26 16:37] Caian opened #718 "Managing memory when R-Tree bulk loading"
Greetings, I am using R-Tree + shared memory file to store / query a dataset of around 400 million 4D points and I'm relying on bulk loading to favor construction time. But unfortunately I'm projecting that the main memory consumption (currently at 27GB) will be too large for some larger cases.

The consumption above does not happen when calling `insert(begin, end)` from an empty tree, which led m

[2020-05-26 17:41] awulkiew commented on #718
Hi, yes bulk loading algorithm creates a temporary vector for all elements and currently the standard allocator is used for that so elements are stored in-memory which indeed can cause problems if many elements are in the range:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/index/detail/rtree/pack_create.hpp#L177

So the answer is: currently it is not possible, at least

[2020-05-26 18:36] Caian commented on #718
Thank you @awulkiew. I stumbled upon this vector and tried to use the shmem allocator, but I think `std::vector`, but it caused problems with `offset_ptr`.

Changing it to `boost::interprocess::vector` would introduce an explicit dependency of `interprocess` that I don't know if it something desirable.

The idea of using the same allocator is indeed not the best solution, I though of it because it

[2020-05-26 19:40] awulkiew commented on #718
Out of curiosity, what compiler and version are you using? I thought the Interprocess allocators would work out of the box with containers supporting stateful allocators, so C++11 std::vector should be fine, I think.

Have you tried `boost::container::vector`? This container is used if you pass dynamic parameters into the `rtree`, so e.g. `bgi::dynamic_rstar`. So this is already a dependency and a

[2020-05-26 21:13] Caian commented on #718
We always compile in C++98 or GNU++98 due to several compatibility constraints, even on modern gcc and icc compilers. The one I tested this is gcc 7.5.0.

It seems to work just fine!

The idea was having a nested template in the `default_generator` to overcome these details, but personally I never liked the idea of going back and forth with templates like this.

Here is the generator that I plug t

[2020-05-27 11:55] gigimava commented on #682
I'm sorry, my previous message was too vague.
I contacted you after reading this (now ancient) exchange with my collegue https://lists.boost.org/geometry/2014/11/3249.php

We were having issues when subtracting a degenerated box from a (OGC valid) polygon.
From boost's documentation, I could get the following
- boost::geometry::difference (1.59.0) requires its two operands to be OGC-valid : http:/

[2020-05-29 12:35] Caian commented on #718
Just to clarify about the compiler version you asked, because I happened to see the issue about moving to a newer C++ standard. In my field we rely on legacy infrastructure as well as the software developed for it, so system-wide upgrades (packages and OS) are kept at minimum. Even if we have access to "newer" compilers like our ICC 11.1 (and hence the quotes around the word newer) that accept new

[2020-05-31 13:25] Caian commented on #718
@awulkiew I did some experimenting with the proposed `bgi::rtree_allocators`, but I'm concerned in storing a temporary allocator that will not be available after the creation of the tree as I think it may lead to some undesirable side effect (e.g. the allocator's destructor trying to access a region that is not mapped anymore), could you clarify on this possibility?

Also there is the question on

[2020-05-31 20:29] awulkiew commented on #718
I thought about storing it in the `rtree::members_holder` in particular in `detail::rtree::allocators`:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/index/rtree.hpp#L198
which is defined here:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/index/detail/rtree/node/variant_dynamic.hpp#L112

During balancing process, so when a value is inserted or

[2020-06-01 20:52] Caian commented on #718
I agree with the consistency, but as stated before I'm worried that it may not be possible to carry certain types of allocators inside the tree. For instance, if a second shmem allocator is used for packing and balancing, I don't see how one could re-initialize the program in order to match the offset of the temporary memory region with respect to the memory region mapped for the tree. And even if

[2020-06-03 08:37] barendgehrels commented on #717
@awulkiew thanks a lot for the proposal, really good if we go forward with the Umbrella Strategy.

I wanted to react earlier already but these things take some time.

I like the examples from user perspective. I assume it is still possible to be more specific (for example: specify Haversine) or less specific (pass no strategy at all), such that all most common scenarios don't break.

I also like t

[2020-06-03 10:35] vissarion commented on #717
I also agree and like the design proposal in general. Thanks @awulkiew !

I have some comments regarding the user perspective. For naming I think we should use the same for both algorithm and strategy. For example even in this case
[code]
although there is  clear naming the user should know or search what is the correct name of the strategy for `intersects` algorithm. Moreover, if both algorithm a

[2020-06-03 11:45] awulkiew commented on #717
@barendgehrels

Yes, I omitted the default and creation of umbrella strategy from other strategies from the example. I assumed that UmbrellaStrategy would be the default strategy created at the top-most level of the algorithm if no strategy is passed and that there would be a backward-compatibility mechanism of creating umbrella strategy from simple strategy like haversine.

Yes it would be possib

[2020-06-03 12:38] vissarion commented on #717
I agree.

[2020-06-05 16:59] jwakely opened #721 "index::detail::rtree::visitors::insert should use public inheritance"
[This](https://github.com/boostorg/geometry/blob/001274d72c528dfc97ff9db44efd600569f1e1a4/include/boost/geometry/index/detail/rtree/visitors/insert.hpp#L268) looks wrong and seems to be causing a build failure for FreeCAD:

[code]

This was changed with https://github.com/boostorg/geometry/commit/477627d16a3ea8907ee8ba3ee781a8924248efdc

The resulting build failure is:

[code]

Note the final line

[2020-06-06 01:19] #721 closed

[2020-06-06 01:21] awulkiew commented on #721
Thanks!

[2020-06-10 08:28] barendgehrels commented on #717
That is true. I'm OK to try it like this, your example looks good.

This was implemented intentionally. It is not uncommon to apply cartesian strategies on geographic coordinates, on small scales you just can do that (you will lose some precision). As Adam said, it was always supported like this. I don't think it is a problem.

Fine for me.

[2020-06-11 18:52] rconde01 opened #725 "Including boost/geometry/index/parameters.hpp directly causes a compile error"
#include <boost/geometry/index/parameters.hpp>

https://godbolt.org/z/ebxrBQ

`In file included from <source>:1:

/celibs/boost_1_73_0/boost/geometry/index/parameters.hpp:292:13: error: unknown type name 'default_strategy'
    typedef default_strategy type;
/celibs/boost_1_73_0/boost/geometry/index/parameters.hpp:293:13: error: unknown type name 'default_strategy'
    typedef default_strategy resu

[2020-06-15 12:35] vissarion commented on #725
It is not clear why you want to include only parameters, but a workaround could be to add
```#include <boost/geometry/strategies/default_strategy.hpp>```
before your include.

[2020-06-15 12:39] vissarion commented on #725
Moreover, this is a general issue of the library, see https://github.com/boostorg/geometry/issues/523

[2020-06-15 15:44] rconde01 commented on #725
Yes that was my workaround. I just mentioned it because I encountered it when updating boost versions.

[2020-06-15 15:44] #725 closed

[2020-06-15 15:45] rconde01 commented on #725
Close as it's a dupe of #523

[2020-06-17 09:12] vschoech commented on #629
This is still a problem in boost 1.73.0.
`\boost_1_73_0\boost\geometry\strategies\cartesian\side_by_triangle.hpp(123): error C4244: 'initializing': conversion from 'CoordinateType' to 'PromotedType', possible loss of data`

[2020-06-17 09:28] vschoech opened #727 "MSVC Warning: error C4127: conditional expression is constant"
Compiling with boost 1.73.0, MSVC 2017 Version 15.8.0 with compiler options /W4 and /std:c++latest, I get "conditional expression is constant" in two places:
[code]
and
[code]

[2020-06-17 09:42] vschoech commented on #602
Confirming that this issue is still present in boost 1.73.0. Looking forward to the next milestone!

[2020-06-17 10:17] vschoech commented on #603
As of boost 1.73.0, this problem is still present as reported!

[2020-06-17 10:41] vschoech commented on #604
Still missing implementations for covered_by in boost 1.73.0.

[2020-06-17 11:47] vschoech commented on #682
The problem is still not fixed in boost 1.73.0.

[2020-06-18 12:04] 0xtrzy opened #728 "How get information about polygon?"
How get information about:
- number of points?
- number of segments?
- clockwise or not?

this is my code https://pastebin.com/R9niv31u

-----
typedef boost::geometry::model::d2::point_xy<double> point_t;
typedef boost::geometry::model::polygon<point_t> polygon_t;
....
this working:
std::cout << "czy jest prosta?   " << (boost::geometry::is_simple(green) ? "tak" : "nie")
this dont.
(boost::geometr

[2020-06-18 12:11] mloskot commented on #728
The `boost::geometry::clockwise` is not a function, it's enumerator.

https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/enumerations/order_selector.html
https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/core/point_order.html

1. Please, try to read the docs!
2. Please, try to write in English.
3. Please, try to learn about how to format c

[2020-06-18 12:34] 0xtrzy commented on #728
my english are ugly ;(

but this example not showing how determining which polygon are clockwise.

[2020-06-18 12:40] mloskot commented on #728
It's a static property of a type:
https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/concepts/concept_ring.html

If you run `correct`, it will fix any unordered points, according to that type trait
https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/algorithms/correct/correct_1.html

You may also try `is_valid` to see if the message will giv

[2020-06-18 12:45] 0xtrzy commented on #728
correct change whole polygon (with more than one shape)
sometime are not a good idea. For example I have 'A' shape. I must have outer and hole inside. I need set exactly one shape to clockwise and other to not clockwise.

is_valid exist in my code but show me a error? Why showing is not a valid? This is simple shape only 4 point.

[2020-06-18 13:04] mloskot commented on #728
If you read my https://github.com/boostorg/geometry/issues/728#issuecomment-645991346 carefully and used `is_valid` as I suggested, you would have answered your own question:

[code]
Outputs
[code]
Try it yourself https://godbolt.org/z/d-Zb9Y

[2020-06-18 13:09] 0xtrzy commented on #728
Yes, my code use this same way. in 59 line

Question is how check one shape, (sub-polygon?)
and how setup: clockwise or dont clockwise.

and number of points is in code but comment because not working.

[2020-06-18 13:16] mloskot commented on #728
In the docs that I linked in https://github.com/boostorg/geometry/issues/728#issuecomment-645991346 about polygon and ring, you can read:

Rings of your polygons are not closed. A ring that is not closed is not a valid ring. Period.
So, no, your "shape"-s are not correct according to concepts of Boost.Geometry. Period.

[2020-06-18 13:20] 0xtrzy commented on #728
@mloskot in first question I ask: Meybe I must using multi polygon?

I have object similar chars 'A' 'i' 'Ń' etc. My polygon have more than one shape and holes. How join (union) two shapes? How setup hole? How set clockwise. And how get element in this shapes.

?

[2020-06-18 13:25] mloskot commented on #728
Create polygon by creating rings one by one, one exterior and one or more interior rings:

https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/algorithms/append.html

Run `correct` which should fix ordering of points in the rings.

Once again, browse the docs, search for familiar names, discover the library. If you feel lazy, ask on StackOverflow.

[2020-06-18 13:30] 0xtrzy commented on #728
I'm not lazy, I 'm not undestand.

I ask 3 question, You answer only on correct. No example how get point
for example a[1] not working ?
how turn polygon clockwise etc.

and ... closing discusion. Please help me

[2020-06-18 13:42] mloskot commented on #728
I did not say you are lazy. I said "if you feel lazy", as every one does from time to time...

I did answer all your questions

-  number of points?

In other words, search for the function https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/algorithms/num_points.html

-  number of segments?

Likewise, https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometr

[2020-06-18 13:48] 0xtrzy opened #729 "How to determined number of points of polygon (ring)?"
[code]

How count number of points? number of segment and how acessing variable 'a' ?
In my opinion my shape have 8 point no 6

[2020-06-18 14:05] mloskot commented on #729
Your polygon has two rings in total, one exterior and one interior.
Your polygon has 8 points in total.
Your polygon is NOT valid, because the rings are not closed.

You seem to be expecting that Boost.Geometry reports you number of **unique** points.
From Boost.Geometry perspective, this is useless information, because each ring must be closed: first and last point must be repeated.

[2020-06-18 14:57] mloskot commented on #727
Before the codebase switches to C++17, I'm afraid, there is no cleaner way to get rid of this warning than `#pragma warning(disable:4127)`

[2020-06-18 15:00] mloskot commented on #629
I think it should be safe to `... = static_cast<PromotedType>(...)` wherever the left-hand side is an explicitly promoted type.

@awulkiew What do you think?

[2020-06-18 15:37] 0xtrzy commented on #729
two ring, separately no interior

![Zrzut ekranu z 2020-06-18 17-33-12](https://user-images.githubusercontent.com/59196690/85041371-21451480-b18a-11ea-9425-7b41662becae.png)

and 8 segment
boost return 6 and 8

All ring are closed

all point are unique

[2020-06-18 15:43] mloskot commented on #729
Then your polygon is not a valid polygon, but a multipolygon.

No, they are not.
Given your geometry is specified as `POLYGON((0 4, 3 1, 6 4, 3 0)(0 3, 0.1 3, 0.1 3.5, 0 3.5))`, then
- The `(0 4, 3 1, 6 4, 3 0)` is not closed.
- It would be closed if it was specied as `(0 4, 3 1, 6 4, 3 0, 0 4)`.
- The similar issue applies to the second ring.

[2020-06-18 16:01] 0xtrzy commented on #729
ok i delete second polygon, how get acess to 'a'

[code]

[2020-06-18 17:41] 0xtrzy commented on #729
If I good undestand in polygon exist one and only one .outer()

how acess .inner() ?

[2020-06-18 17:58] mloskot commented on #729
There are two equivalent ways to access X or Y of a point:

[code]

Correct

See docs, with example https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/models/model_polygon.html

where you can see use of `poly1.inners()[0]` that suggests, `inners()` returns a vector of rings.

[code]

[2020-06-18 18:55] #729 closed

[2020-06-18 21:15] awulkiew commented on #728
Thanks Mateusz for handling this :)

@0xtrzy The library gets the information about the order (Clockwise vs Counterclockwise) and Closedness (Last point equal to the first point or not) from the polygon type. The data stored inside a polygon as to be consistent with this type definition. See e.g.:
https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/models/model_polygon.

[2020-06-18 21:19] awulkiew commented on #729
I think the confusing part is the definition of "Closed". In the closed polygon the last point in a ring is equal to the first one. If you want to be sure that the points are in the correct order and that the polygon is properly closed or opened just call `bg::correct()` after loading the points into it.

[2020-06-18 21:24] awulkiew commented on #728
Also note that `num_points` will return different value depending on the `Closed`/Opened` definition.

Furthermore there is additional parameter in `num_points` defining whether or not the function should add 1 to the returned value for opened points in order to always get the same result whether or not the polygon is opened or not. If you pass `true` as the `add_for_open` you'll get the number of

[2020-06-19 08:12] mloskot commented on #728
@0xtrzy Please, close the issue if your questions have been answered.

[2020-06-19 11:32] tinko92 commented on #727
Just for consideration: If the FollowIsolatedPoints is the only problem here, something like the following might not be too intrusive:

[constexpr_if_macro.patch.txt](https://github.com/boostorg/geometry/files/4804290/constexpr_if_macro.patch.txt)

I admit that it is not very pretty, but it should get rid of the warning if I understand correctly (I don't have the proprietary software that was ment

[2020-06-19 12:36] awulkiew commented on #727
Well, there is this macro:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/util/condition.hpp

[2020-06-19 17:12] #727 closed

[2020-06-21 14:37] Ne94fets commented on #629
Hello, I have a similar problem on Windows using msvc14.1. On linux there is no warning by the way.

I created a minimal example:
[code]

I than tracked it back to `point_is_spike_or_equal.hpp` line 142-146 and added the following lines to get some debugging output:
[code]

And got the following errors:
[code]

Where the 4th line is the interesting one. Why is the `coordinate_type` of `boost::geom

[2020-06-22 09:04] yoavmil opened #731 "voronoi warning: conversion from '__int64' to 'const int' at insert(const Segment& segment, VB* vb)"
My datatype is int64, and for some reason Boost is converting it to int.
` struct Point { int64 X, Y; } `

[code]

Maybe I'm doing something wrong, please advise, and maybe it is similar to [this](https://github.com/boostorg/geometry/issues/629).

[2020-06-22 09:59] vissarion commented on #731
@yoavmil this issue is about `polygon` library so you should probably try to open an issue there https://github.com/boostorg/polygon/issues

[2020-06-22 13:38] #731 closed

[2020-06-22 13:39] yoavmil commented on #731
moved to https://github.com/boostorg/polygon/issues/46

[2020-07-13 05:50] mloskot commented on #396
Hmm, looks like the long paths issue is hitting the docs again, @teeks99 reported https://lists.boost.org/boost-users/2020/07/90536.php

/cc @awulkiew

[2020-07-13 22:31] teeks99 commented on #396
so the original file that had the issue re-appeared. did the previous change for 1.64 get broken somehow?

[2020-07-14 00:54] awulkiew commented on #396
Are you sure that the same file is causing problems? My guess is that it is caused by a similar file, also generated for `rtree` constructor, but a different one.

Recently several new `rtree` constructors were added (https://github.com/boostorg/geometry/commit/10b0c372164a2162cb90b8bde9cbd71d3c16998d), some of them taking many arguments. The tool automatically generating the documentation puts al

[2020-07-14 11:24] teeks99 commented on #396
Here's what boost_1_74_0_b1_rc1 looks like:

[code]

vs. boost_1_73_0

[code]

[2020-07-14 18:40] mclow commented on #396
Just an observation: The new files (with very long names) have no backwards compatibility requirements (because they are *new*). So if someone were to rename them (somehow), and fix up the links in the generated docs, then we'd be golden.
(Obviously this would have to be done via some jam settings, since we don't want a one-off thing, but can we get doxygen to generate short file names for only so

[2020-07-14 21:02] BenFrantzDale opened #735 "predicates::satisfies doesn't(?) allow control over tree traversal"
AFAICT, `predicates::satisfies<Fun, Negated>` lets you give an arbitrary function object and then use it to, say, visit every `rtree::value_type` in an `rtree`. It seems like it just needs a second function, which could default to `[](auto&&...) { return true; }`, to let you control the traversal of the tree. For example, suppose I want to visit an `rtree<Point2D>` and visit all points in the (-,+

[2020-07-14 22:02] awulkiew commented on #396
FYI, these names are generated automatically by quickbook when section name is full name of a function/ctor with parameters, etc. and there is no section id.

I have a patch for our tool ready which sets section names explicitly and the result is this list:
[code]

Now, I could push it as it is and break all of the links in *Spatial Index* part of the reference or do this only for names longer tha

[2020-07-14 22:37] mclow commented on #396
Which are the new names in 1.74.0?

[2020-07-14 22:41] awulkiew commented on #735
Yes, `satisfies` predicate is only applied to Values. It is not spatial predicate.

It is possible to perform such query by implementing a new class like `LineBoundedSpace` and then passing it with `bgi::intersects` into `rtree::query` after overloading `bg::intersects` for:
- `LineBoundedSpace` and `Box`
- `LineBoundedSpace` and `Value`/`Point2D`

But I agree that an explicit user-defined spatial

[2020-07-14 22:45] #728 closed

[2020-07-14 22:49] mclow commented on #396
Looks like:
[code]

Those can be made shorter w/o breaking any links.
This one, though:
`rtree_parameters_type_const____indexable_getter_const____value_equal_const____allocator_type_const___` is a problem

[2020-07-14 23:18] BenFrantzDale commented on #735
I’m not sure I follow. Are you saying I would specialize `detail::spatial_predicate< LineBoundedSpace, ...>`? That feels wrong since I’d assume anything in `detail` is an implementation detail not a customization point...

[2020-07-15 00:08] awulkiew commented on #396
I'm fine with 1 non-working link. Are there any other ideas?

[2020-07-15 00:13] mclow commented on #396
it's your library :-). (That's not a criticism of your opinion, just a statement that you are (one of) the owners of Boost.Geometry)

[2020-07-15 00:59] awulkiew commented on #735
No, it is not required to touch anything in detail. You only has to overload:
[code]
and then call:
[code]

See also: https://stackoverflow.com/questions/19490435/boost-geometry-spatial-query-shapes

[2020-07-15 11:48] awulkiew commented on #396
@barendgehrels @mloskot @vissarion opinions please. :)

[2020-07-15 11:49] BenFrantzDale commented on #735
OK, with that I get a compile error: https://godbolt.org/z/3qxdPM

I'll take a stab at implementing the multi-level `satisfies` equivalent.

[2020-07-15 11:52] awulkiew commented on #396
@teeks99 What file length would be ok for you? Are the names generated for constructors the only ones that are too long?

[2020-07-15 12:17] vissarion commented on #396
I am OK with both options. The one that does the job only for the longer filename seems a bit preferable since it is less aggressive.

[2020-07-15 12:48] teeks99 commented on #396
To be clear, it isn't a filename length limitation, it is a full path limitation. On windows the limit has historically been 256 chars, this is being relaxed but not all tools support longer paths yet.

The above directory (102 chars):
`boost_1_73_0/libs/geometry/doc/html/geometry/reference/spatial_indexes/boost__geometry__index__rtree/`

Plus the file (146 chars):
`rtree_iterator__iterator__param

[2020-07-15 16:04] awulkiew commented on #396
This is also an option. Actually I've already implemented it locally to generate `b_g_i_...` instead. Removing the namespaces entirely is also an option which would probably work for now but in general could cause naming conflicts. So changing it would break backward compatibility for the rtree and its members, observers and parameters.

There is also an option of shortening `spatial_index` to `in

[2020-07-15 16:50] awulkiew commented on #735
Yes, the compiler has problems with picking the overloads. It chooses to instantiate the original `bg::intersects` template, as mentioned here: https://stackoverflow.com/questions/19490435/boost-geometry-spatial-query-shapes and fails to do it.

To force it to do it you can e.g. add some forward declarations:
[code]

then the rest of your code.

[2020-07-15 17:29] teeks99 commented on #396
Yeah, fixing those would correct my issue and preserve backwards compatibility.

Beyond that it comes to generally supporting boost in deeper directory structures vs. backwards compatibility.

[2020-07-16 22:21] awulkiew commented on #396
The fix is ready. As I mentioned above I've chosen the compromise solution. One link is not backward compatible. Currently the max filename length is set to 59 (can be changed with program option in python script). If there are additional problems in the future we'll apply more severe solution. The filenames for ctors are:
[code]

[2020-07-18 18:33] #396 closed

[2020-07-20 09:13] mloskot commented on #396
@awulkiew Thanks for the fix!

[2020-08-02 22:47] awulkiew commented on #716
@autc04 I have a patch for this issue:
https://github.com/boostorg/geometry/pull/740
Could you check if it works for you?

[2020-08-04 22:34] #718 closed

[2020-08-06 06:40] marooncn opened #742 "has_self_intersection segmentation fault"
Hi, I use _boost::geometry::difference_ to do difference operation,
`boost::geometry::difference(polygon1, polygon2, output); `
but it comes out segmentation fault:

[code]

I check the [document](https://www.boost.org/doc/libs/1_55_0/libs/geometry/doc/html/geometry/reference/concepts/concept_polygon.html#geometry.reference.concepts.concept_polygon.rules), and add the judgement:
[code]
but the err

[2020-08-06 08:32] mloskot commented on #742
Please improve your report by adding
- version of Boost you are using
- a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_working_example) in C++

[2020-08-06 13:48] marooncn commented on #742
The ploygon outer points are:
[code]
you can assign these points to _polygon1_, I found the segmentation fault is caused by _has_self_intersections(polygon2)_ and this operation probably be called by _difference_ function, so there comes an core dump.

[2020-08-06 13:51] marooncn commented on #742
this error can be solved by calling _convex_hull_ function. But I think it's a bug of _has_self_intersections_, it can output false rather than throw a segmentation fault.

[2020-08-06 14:14] awulkiew commented on #742
We have to be able to reproduce the problem. For this we have to know how do you do it exactly. We need:
- version of Boost
- version of compiler and compiler options/flags
- the exact code causing the problem

Do you use `boost::geometry::model::point` and `boost::geometry::model::polygon` from Boost.Geometry or do you use your own geometries?

[2020-08-07 03:43] marooncn commented on #742
version of Boost:

version of compiler and compiler options/flags:

the exact code causing the problem
[code]
It will cause segmentation fault.
And when you uncomment _convex_hull_, it will be OK.

[2020-08-07 07:17] mloskot commented on #742
@marooncn An obvious suggestion is to try the latest Boost

[2020-08-07 07:44] marooncn commented on #742
OK, thank you. The bug is fixed in the latest version. To avoid this bug in the old version, calling _convex_hull_ before might be a good choice.

[2020-08-07 07:46] mloskot commented on #742
@marooncn Thanks for the confirmation.
Since Boost does not publish bugfix releases, there won't be any Boost 1.58.1.

@awulkiew  I think this can be closed

[2020-08-07 08:39] marooncn commented on #742
@awulkiew Actually not, I thought you have tested with the latest boost version before. I just update boost to v1.73 and excute above code and the segmentation fault is still here.

[2020-08-07 08:49] marooncn commented on #742
Add info:
I drew the polygon
![image](https://user-images.githubusercontent.com/29606478/89627582-aff22a00-d8cd-11ea-901d-645657e7840c.png)

[2020-08-07 16:14] awulkiew commented on #742
I tried to reproduce it with VS2017. The function throws `overlay_invalid_input_exception` which is not caught. In your output there is `__gnu_cxx::__verbose_terminate_handler()` which suggests termination of a program after unhandled exception is thrown. The output that you pasted is not full. Can you see something like `terminate called after throwing an instance of ...` before the part you past

[2020-08-09 04:41] marooncn commented on #742
@awulkiew Thanks for your detailed reply. Actually at first I use _is_valid_ to check polygons validity:
[code]
But when it executes, it occurs the segmentation fault in _difference_ function. So I add _has_self_intersections_ to judge. But the segmentation fault is still here when executing _difference_. I think _is_valid_ doesn't totally prevent invalid polygon to do _difference_.
And as you sai

[2020-08-09 11:08] awulkiew commented on #742
This is possible.

If my investigation is correct this is an exception which should be caught by you. So the termination of a program is because you didn't do it. Put everything in a try-catch block and see if the problem is still there.

[2020-08-09 16:17] marooncn commented on #742
@awulkiew Yes, I capture the polygon that made _is_valid_ true and made _difference_ function segmentation fault  to do offline test, as you said, it also returned false in offline test for _is_valid_. It's weird.

[2020-08-17 23:23] vishnu114 opened #746 "VS 2017 compiler warnings: This header is deprecated"
Several boost_1_74 geometry .hpp files warn about using deprecated headers with VS2017. Please fix these by using the recommended headers. To reproduce this, use the command below.

[code]

where test.cpp has 3 lines:

[code]

The resulting warnings are

[code]

Uncommenting the commented line silences the warnings but the new headers should be used in an updated version of boost geometry.

[2020-08-18 09:37] mloskot commented on #746
@vishnu114

Please, consider proposing a PR with necessary fixes.

[2020-08-30 02:26] awulkiew commented on #746
Thanks for the report.

None of the Boost.Range files you listed is included by Boost.Geometry directly. These files are included by `boost/range/metafunctions.hpp` which is included by `boost/range.hpp`. So the problem is in Boost.Range not in Boost.Geometry. You may consider creating an issue or proposing a PR there.

`boost/detail/no_exceptions_support.hpp` was indeed included, which is fixed n

[2020-09-01 00:38] awulkiew commented on #746
The PR is already created in Boost.Range:
https://github.com/boostorg/range/pull/109

[2020-09-01 00:39] #746 closed

[2020-09-04 05:11] jefftrull opened #750 "Misspelled config macros"
The test `algorithms/set_operations/intersection/intersection.cpp` refers to two macros, `BOOST_NO_INT64`, and `BOOST_HAS_INT64_T`, which don't exist - probably `BOOST_NO_INT64_T` is what is meant.

[2020-09-08 16:15] systemed commented on #447
Just a +1 to this - I use Boost.Geometry as the core of https://github.com/systemed/tilemaker and have been encountering issues when simplifying multipolygons creates invalid geometries. Being able to fix this with dissolve would be a great boon. Thanks for an excellent library as always.

[2020-09-14 23:13] jpan127 opened #753 "Clarity on query documentation"
Hi, this might be already obvious but I would like a bit of clarity on the documentation of the query iterators.

      It's different in case of k-NN queries performed with query iterator returned by `qbegin()` function which guarantees the iteration over the closest `__value__`s first. ]

When using the iterators for `nearest`, we can expect guarantees about the output's order.  Does this guaran

[2020-09-15 11:45] awulkiew commented on #753
With query iterators taking `nearest` predicate and any number of other predicates in any configuration (`intersects`, `satisfies`, etc...) the iterated elements are sorted by distance.

With `query` member function taking `nearest` predicate and any number of other predicates the elements that are returned are `k` nearest elements that are not sorted by distance. So they are sorted WRT all of the

[2020-09-15 12:48] jpan127 commented on #753
Sorry, I meant to ask for using query `iterators without nearest` but with `intersects`.  I'm guessing the answer is no there is no guarantee 😄.

[2020-09-15 15:26] awulkiew commented on #753
Yes, the answer is no. :)
It's because `intersects` is a spatial predicate and there is no information passed which would allow the elements to be sorted in meaningful way. In other words, the query returns elements occupying some area and none of the elements is more important than the other one.

Unless I'm missing something. Do you have a case where you'd like to sort the elements somehow? An e

[2020-09-15 16:03] jpan127 commented on #753
Thanks! 😄

My use case right now is to find intersection between a point and an RTree of boxes, but have the intersecting boxes be sorted by ascending distance (from point).  I guess the best way is to post-sort them then.

[2020-09-15 16:23] awulkiew commented on #753
In general, yes, if you need all of the objects, not `k` nearest ones then it'll be the fastest way to perform a spatial query and then sort the resulting elements.

Have in mind that you'd achieve the same outcome if you used query iterator with `intersects` and `nearest` predicates, passing some big `k` (e.g. the number of all elements in the R-tree). Though the performance would be worse than c

[2020-09-15 18:02] jpan127 commented on #753
You're right, sorry I didn't explain properly.  There is an R-Tree of boxes that represent geometries. I am trying to find all geometries that intersect a search box, and is within some distance from a point.  This point is the center of the larger box.

I am achieving this by:
[code]

I'm guessing this is the fastest way?

[2020-09-15 19:35] awulkiew commented on #753
Ok, so I see you're storing some Objects in the R-tree and then using query iterator in order to get all of the elements of the query at once.

Depending how big the Object is it is ok to store them in the R-tree or not. It's because Values stored in the R-tree can be copied during `insert()`, tree creation in general or when values are returned by the `query()` method. So if Objects are e.g. poly

[2020-09-15 19:43] jpan127 commented on #753
Thanks! `Object` is really an `ObjectPtr` so the copies are less of an issue. I am already doing something similar to what you just described.

Good to know `query` is unequivocally faster than the `iterators` when no exit logic is needed, that makes sense.

[2020-09-23 13:18] ayaankhan98 commented on #750
https://github.com/boostorg/geometry/blob/5fe26e45b4c8fad04b6477f302343bb4b118c513/test/algorithms/set_operations/intersection/intersection.cpp#L958

@jefftrull  are you refering to this?
if so then
if `BOOST_NO_INT64` and `BOOST_HAS_INT64_T`  don't exist then this code below
[code]
is the fix?

[2020-09-23 15:13] jefftrull commented on #750
That looks right to me!

[2020-10-02 18:52] myblindy opened #760 "Internal Compiler Error with MSVC++20 and modules"
You can clone [this repository](https://github.com/myblindy/boost_compiler_crash_repro) to reproduce it, I tried to make it as small as possible, it's just a tree query.

If moved outside of the module, the code works correctly. Inside it just dies.

I'm using VS 16.8 Preview 3.1, and I got installed the boost library with `vcpkg install boost-geometry:x64-windows` (the application is 64-bit).

[2020-10-02 18:55] mloskot commented on #760
I think this report belongs to https://developercommunity.visualstudio.com

[2020-10-02 19:01] myblindy commented on #760
I reported it [there](https://developercommunity.visualstudio.com/content/problem/1207975/internal-compiler-error-with-boost-geometry-tree-q.html) as well, you can close this if you believe C++20 modules shouldn't be supported.

[2020-10-02 20:33] mloskot commented on #760
👍  No, it's not that C++20 modules are not supported deliberately in anyway. It's just that nobody probably has put any effort to ensure Boost.Geometry supports it well.

[2020-10-09 15:18] CG-SD commented on #480
hi, i'm having similar issues with the intersects method with boost 1.69.
i've looked into similar issues and it looks like the scaling method is responsible for this by expanding +/- 90° coordinates to 90.0000000001 from what i understood.
 I tried to define BOOST_GEOMETRY_NO_ROBUSTNESS to avoid rescaling without success.
Is there any workaround other than replacing every 90 in latitude by 89.999

[2020-10-11 13:16] dmitryikh opened #764 "libs/geometry checkout is very slow"
[code]

98k objects lead to slow download speed..

[2020-10-13 07:56] vissarion opened #765 "Wrong result in geographic side strategy and side_by_cross_track spherical strategy"
The geographic side strategy (here: https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/strategies/geographic/side.hpp) returns wrong results for some cases when a point clearly lies on a geodesic defined by two other points. In particular, when two points coincide. The following example illustrates the issue.

[code]

The result is
[code]

while it should be `0` everywhere. N

[2020-10-14 09:32] raghavendrashekhawat2 commented on #765
Hi. i would like to work on this issue. Could i be assigned to it ?.

[2020-10-14 09:47] vissarion commented on #765
Hi, this is fixed here https://github.com/boostorg/geometry/pull/756

[2020-10-16 00:45] ashiscs commented on #750
Is this issue still open to work?

[2020-10-16 01:10] ashiscs commented on #764
I don't think this is an issue

[2020-10-16 01:50] ayaankhan98 commented on #750
@ashiscs
already there is a PR #755 which is needed to be merged

[2020-10-16 08:04] vissarion commented on #765
I similar issue exist for the spherical side strategy `side_by_cross_track` e.g. the following code
[code]

returns

[code]

[2020-10-16 14:27] awulkiew commented on #750
Thanks!

[2020-10-16 14:27] #750 closed

[2020-10-30 05:00] raghavendrashekhawat2 commented on #368
Hi. I would like to work on this issue may i ?.

[2020-10-30 10:13] mloskot commented on #368
@raghavendrashekhawat2 You do not need to ask for permission to start working on an issue. You're free to advertise that you'll work on it though.

Simply, work on it and once you are ready, submit a pull request.

[2020-10-31 04:11] raghavendrashekhawat2 commented on #368
Great thx.

[2020-11-03 07:42] lukegluke opened #770 "Problems performing boolean operations on polygons with shared edges"
Hi,

It's been quite a while, are the any news about fixing problems with boolean operations on polygons with shared edges?
https://svn.boost.org/trac10/ticket/12118
https://svn.boost.org/trac10/ticket/12125

Maybe it has been fixed already?

[2020-11-03 08:45] kenba opened #771 "Azimuth algorithm is undocumented and it's API is not exposed at the same level as distance"
The OP of this stack overflow question: [boost geometry angle between two points](https://stackoverflow.com/questions/64639137/boost-geometry-angle-between-two-points) proposed using the `azimuth` algorithm to calculate the angle (bearing) between two points.

The `azimuth` algorithm is only defined in the file <boost/geometry/algorithms/detail/azimuth.hpp>, it is not exposed on the API at the sam

[2020-11-03 10:17] vissarion commented on #771
Indeed azimuth is computed internally in many places of the library but there is no (proper) algorithm exposed on the API. Such an algorithm would look similar to distance and use strategies to choose between andoyer, thomas, vincenty or karney "formulas" in geographic systems.

It is left there for backward compatibility but it seems that it is not used at all.

[2020-11-24 20:47] mboedigh opened #777 "How to create Rtree of Pointers to coordinates"
Sorry If I missed this in the documentation. I've been searching for a while, but I don't see it.
I have been using code similar to that shown below for a while. I can no longer compile after upgrading to boost::geometry1.73.  I believe I was using ~1.6x. My question is how can I do this in 1.73?
Note. this seems similar to the documented example with shared_ptr, but that example compiles (even wi

[2020-11-24 23:44] awulkiew commented on #777
Thanks for reporting/asking about it. This looks like a bug or at least an inconsistency in how pointers to geometries are treated.

----

A workaround for this issue is to define your own `equal_to` along with your own `indexable`:
[code]
and then pass it into the R-tree:
[code]

----

However I'd encourage you to try something different and store points in the R-tree directly in order to improve

[2020-11-25 20:44] mboedigh commented on #777
Thank you Adam. This work around did compile.
In ran informal benchmark with setup similar to what I encounter: 1000 units. I timed inserts, with one call to clear after 1000 inserts and I timed qbegin( nearest(...)). I complied with /O2. Tests were repeated 10,000 times. There was less than 1% difference, but it was as you predicted. I'm happy to run some additional tests if you'd like to see a d

[2020-11-25 20:45] mboedigh commented on #777
sorry, maybe I shouldn't have closed that

[2020-11-25 21:12] awulkiew commented on #777
No, that's fine. Thanks for sharing! I think it makes sense. In typical case internal nodes (vs leaf nodes) are accessed most frequently and they are the same no matter if value type is pointer or not. The impact of the value type should scale with the number of values (elements of leaf nodes) accessed during query. So the performance difference will probably be greater when:
- more values are sto

[2020-11-26 18:04] mboedigh commented on #777
It appears to me that `rtree.qbegin(bgi::nearest(pos, N))` now completely sorts up to N observations when the first pointer is dereferenced? was that always the case? I was somehow under the impression that the previous behavior was to pay
incrementally for a partial sort of one more element when the iterator was advanced.

Also note, the above timings may be mistaken, because I didn't deference t

[2020-11-26 19:24] awulkiew commented on #777
The knn query iterator should access all values that have to be accessed to make sure that a value is indeed the closest one. I.e. if the first found closest value is further than another leaf node then all of the values from this other leaf node have to be checked as well before we can tell that a value is the closest one.

So the number of accessed values will depend on the tree structure. This

[2020-11-26 23:18] mboedigh commented on #777
Today is thanksgiving here, and I'm thankful for your help! I actually saw all the comparisons in the docs, but when I did testing way back when, it didn't really reflect that, and I wasn't ever sure why. That aside, I think I should use packing because I create the tree 25 times per second and each tree is constant. **I was never sure how to invoke the packing algorithm. Is it as simple as use th

[2020-11-26 23:41] awulkiew commented on #777
Happy Thanksgiving!

Yes, you can either pass a pair of iterators defining a range of values or a Boost.Range object. Since standard containers are also ranges they work out of the box, e.g.:
[code]
It is also possible to create elements of this range "on the fly" by transforming some other range, like that:

https://www.boost.org/doc/libs/1_74_0/libs/geometry/doc/html/geometry/spatial_indexes/rtr

[2020-12-01 10:53] Siddharth-coder13 commented on #664
hey @mloskot, I am a new contributor and would like to work on this issue?

[2020-12-01 11:21] mloskot commented on #664
@Siddharth-coder13 See https://github.com/boostorg/geometry/issues/368#issuecomment-719465037

[2020-12-01 23:19] #716 closed

[2020-12-07 06:40] cyang-kth opened #781 "How to query on distance range?"
I have a large set of points and I want to query a point _A_ with a distance range (min, max) to find all the points whose distance to _A_ lies in that range.

How to implement that query using the rtree index?

[2020-12-07 13:11] awulkiew commented on #781
If you need all of the points then this would be a spatial query, not knn query. So you can pass a bounding box created for max distance and then filter the points that are closer to min or further to max:
[code]

[2020-12-07 13:11] #781 closed

[2020-12-07 16:06] cyang-kth commented on #781
Thanks for your reply. When both the min and max are quite big, the method based on intersection may need to examine a lot of points. I think it would be more efficient to customize the process of rtree iteration by comparing the min and max distance to a bounding box with this distance range. It seems to be define a new type of spatial predicate but I could not find any resources or example on th

[2020-12-08 00:57] awulkiew commented on #781
Currently there is no official way of defining a custom query.

If you think that min can be big and that it would be possible to prune large parts of the tree this way you can always pass a negated predicate. Unfortunately for now it is only possible to pass boxes. So instead of:
[code]
you can pass a square inscribed in a circle with `min` radius:
[code]

Some basic nsphere support is implemente

[2020-12-08 14:25] cyang-kth commented on #781
[code]

[2020-12-08 14:33] cyang-kth commented on #781
https://www.boost.org/doc/libs/1_74_0/libs/geometry/doc/html/geometry/reference/adapted.html

[2020-12-08 16:55] awulkiew commented on #781
You need 2 specializations of `bg::intersects()` one for the box type used by the R-tree (`rtree<...>::bounds_type`), and the other one for the point type you store. So you also have to add:
[code]
Basically look at the compiler output, see what types are passed into `bg::intersects()` and implement specializations for these types. If these function templates are instantiated then the compiler wil

[2020-12-08 17:25] cyang-kth commented on #781
@awulkiew
Thanks for your help. I also discovered that I need to implement the intersects for both Box type and Point type against the Ring. I test on Mac and Ubuntu, which compile successfully.

![下载](https://user-images.githubusercontent.com/6810084/101518744-9f88b380-3982-11eb-896e-85f155261cf2.png)

[2020-12-08 17:51] awulkiew commented on #781
That's great. The result looks nice too. Thanks for the feedback.

[2020-12-11 15:56] mloskot commented on #664
FYI, related comments posted in https://github.com/boostorg/geometry/pull/782#issuecomment-743275433

[2020-12-17 10:14] Siddharth-coder13 opened #784 "Build failed in some examples"
As I was trying to build the examples,  I found `4` programs in the `examples` directory, which failed during compilations. After spending some time, it seems to me that these `programs` may have not been updated with the other `repos` .
As for example, on compiling `05_b_overlay_linestring_polygon_example.cpp`

    05_b_overlay_linestring_polygon_example.cpp: In function ‘int main()’:
    05_b_ov

[2020-12-18 06:40] Siddharth-coder13 commented on #683
Hey, @vissarion I want to work on this issue and implement the Quickhill algorithm for 3D points and also work on other algorithms in general that do not handle 3D geometries correctly.

[2020-12-18 09:47] vissarion commented on #683
Hi @Siddharth-coder13, sure you can create an PR on 3D convex hull algorithm and discuss the details there.

[2020-12-18 17:34] barendgehrels commented on #683
Hi @Siddharth-coder13 , thanks for your intention!

There are many other algorithms not handling 3d (at all, in general). It will be a huge effort. But start with relatively simple ones, and convex hull would probably be not the most complex one (though I would start with `volume` probably).

However, the best first point to start with, is defining a `geometry` (model, and concept) of a polyhedral

[2020-12-18 18:17] vissarion commented on #683
Indeed, as @barendgehrels note the output of 3D convex hull cannot be just an ordered list (opposed to 2D) so you need a new geometry. For `volume` things could be a bit simpler since the input could be a 3d pointset and the output a numeric value.

[2020-12-19 07:12] Siddharth-coder13 commented on #683
It seems that I have to implement `volume` by scratch. So, I will make a separate header file in the `algorithms` directory and implement its functions, Is it fine?

[2020-12-19 13:23] barendgehrels commented on #683
Sure, that sounds right!

[2020-12-21 07:52] vissarion commented on #683
Indeed, as @barendgehrels note the output of 3D convex hull cannot be just an ordered list (opposed to 2D) so you need a new geometry. So an alternative starting point could be `volume` of an input 3d pointset which outputs a numeric value. But I agree that the best start is to define the polyhedral surface.

[2020-12-21 10:33] #765 closed

[2020-12-22 16:55] GauravSarkar commented on #784
garry@LAPTOP-ORBHSDR0:~/geometry/example$ g++ 05_b_overlay_linestring_polygon_example.cpp
05_b_overlay_linestring_polygon_example.cpp: In function ‘int main()’:
05_b_overlay_linestring_polygon_example.cpp:75:110: error: no matching function for call to ‘get_turns<false, false, boost::geometry::detail::overlay::assign_null_policy>(boost::geometry::model::linestring<boost::geometry::model::d2::point

[2020-12-22 17:08] mloskot commented on #784
@GauravSarkar Please, learn how to format log/code snippets on GitHub, https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/creating-and-highlighting-code-blocks

Please, consider the simplistic `g++ 05_b_overlay_linestring_polygon_example.cpp` that you execute: how compiler should know where to look for all the required headers?

https://github.com/boostorg/geometry/blob/6ce78

[2020-12-22 18:30] mloskot commented on #784
@Siddharth-coder13 Thanks for the report.

PR #787 should fix the compilation of all the examples.

[2020-12-22 18:30] GauravSarkar commented on #784
@mloskot  I will keep in mind the formatting of code snippets.
I did not understand this:
Please, consider the simplistic g++ 05_b_overlay_linestring_polygon_example.cpp that you execute: how compiler should know where to look for all the required headers?
Please explain a little bit.

[2020-12-22 18:41] mloskot commented on #784
@GauravSarkar

Sorry, I did not look at the (originally badly unformatted) input carefully, but I assumed you are not compiling examples installed Boost (i.e. `/usr/include/boost`), but against headers in cloned repository (typical for a contributor)
Hence, I misjudged the `g++ 05_b_overlay_linestring_polygon_example.cpp`  must give errors about compiler not being able to find the headers, like he

[2020-12-22 18:49] GauravSarkar commented on #784
Thanks @mloskot  for clarifying.

[2020-12-23 09:30] #784 closed

[2020-12-23 09:34] mloskot opened #788 "Add test for extensions/test/algorithms/parse.hpp"
It would be helpful to have a test covering features in the [extensions/test/algorithms/parse.hpp](https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/extensions/algorithms/parse.hpp) extension, see https://github.com/boostorg/geometry/pull/786

[2020-12-23 12:15] GauravSarkar commented on #788
@mloskot  if you can give a little bit more details on this issue, I was willing to take up the issue.

[2020-12-23 13:37] GauravSarkar commented on #788
As far as I have seen there is no parse.hpp under  ```extensions/test/algorithms```. So are you asking to create it and add test results of features as per #786 ?

[2020-12-23 21:11] mloskot commented on #788
The file is there, see the link in the issue description that I've just updated.

I don't really have anything to add.
It's a typical procedure: read the code, learn what's the public interface, add test cases and i exercise functions of the public interface.

[2020-12-24 08:35] GauravSarkar commented on #788
Thanks @mloskot  I got it. I  will go through the code

[2020-12-24 10:45] Siddharth-coder13 commented on #683
@vissarion will you please explain about defining polyhedral surfaces, I'm not getting any clue on how to start?

[2020-12-24 14:52] vissarion commented on #683
You can start by reading the OGC standard, and see how this is done in
postGIS.

On Thu, Dec 24, 2020, 12:45 Siddharth Kumar <notifications@github.com>
wrote:

[2020-12-29 12:06] ayushgupta138 commented on #788
@mloskot  could you please provide some more details regarding the issue and about the test cases that needs to added. I am willing to work on this issue, since there hasn't been a pull request lately.

[2020-12-29 12:38] mloskot commented on #788
@ayushgupta138 See my earlier comment.

[2020-12-30 13:41] barendgehrels commented on #770
Thanks for your message!

Ticket 12118 is fixed in the meantime, and I just closed it.
Ticket 12125 is fixed by removing rescaling, which is (still) not the default but it should be in 2021.

Therefore I assigned this issue to myself and will close it as soon as we change the default, it took much longer than expected but we're nearly there now.

[2021-01-01 06:18] RajWorking commented on #788
You want us to create X?
include/boost/geometry/extensions/algorithms/distance_info.hpp : extensions/test/algorithms/distance_info.cpp
include/boost/geometry/extensions/algorithms/parse.hpp : X
X is extensions/test/algorithms/parse.cpp, am I correct?

[2021-01-01 10:20] mloskot commented on #788
I think, you've decoded the file structure quite right.

[2021-01-02 14:59] ayushgupta138 commented on #788
(Assuming parse.hpp is included)
`typedef bg::model::point<double, 2, bg::cs::spherical_equatorial<radian>> earth;`
`earth ear;`
`parse<earth>(ear, "17.65R N", "23.2R W");`
`cout << get<0>(ear) << " " << get<1>(ear) << "\n";`
The above code snippet outputs `-23.2 17.65`
but if space is added between the value and 'R'
`parse<earth>(ear, "17.65 R N", "23.2 R W");`
the values 17.65 and 23.2 are assum

[2021-01-04 08:27] sotex opened #791 "intersects calculation result is incorrect"
I tested the intersection calculation, and the results don't seem to be correct.

**The test code is as follows:**

[Wandbox](https://wandbox.org/permlink/H7AZMx3Sx2dyViSZ)

[code]

**outputs:**

[code]

These two geometry should intersect.

[code]
![image](https://user-images.githubusercontent.com/16911453/103515043-e1851680-4ea8-11eb-8920-93f2a2f098c9.png)

[2021-01-05 08:15] Zilleplus opened #792 "centroid not working without main geometry header"
When I try to use the centroid or return_centroid function, by including the bare minimum (#include <boost/geometry/algorithms/centroid.hpp>) it doesn't seem to compile.("error: no type named 'state_type'")

If I add the "#include<boost/geometry.hpp>" header things work just fine. Is this by design? or a bug?

example code:
[code]
Or on compiler explorer: https://godbolt.org/z/Wdcb6f

[2021-01-06 13:59] ayushgupta138 commented on #788
@mloskot could you please clarify the above query.

[2021-01-07 09:45] mloskot commented on #788
@ayushgupta138  I'm travelling until next week, mostly offline, so I can't check myself.
It's possible there is a bug and some code reading and debugging is needed to confirm.

[2021-01-11 10:03] pwiecz opened #793 "Ring concept page references non-existent header file"
https://www.boost.org/doc/libs/1_75_0/libs/geometry/doc/html/geometry/reference/concepts/concept_ring.html mentions header file boost/geometry/geometries/adapted/std_as_ring.hpp, which cannot be found here: https://github.com/boostorg/geometry/tree/develop/include/boost/geometry/geometries/adapted

[2021-01-11 10:18] vissarion commented on #793
This has been removed long ago see https://github.com/boostorg/geometry/commit/c821efcc2bd5fa4987737fb85e261d50c1d767ef#diff-b8e26a78b881e5693f6c39292dfed71effb2711311a2f742023d69c95a06f761 The documentation needs an update.

[2021-01-11 10:40] vissarion commented on #792
You need to include the stategies for centroid.
Including the following should work
```#include <boost/geometry/strategies/strategies.hpp>```
However, AFAIU, this should not be needed to use the centroid algorithm.

[2021-01-11 11:04] Zilleplus commented on #792
@vissarion thanks !. With the "strategies" include it works, but the doc's don't say anything about it. I'l go trough the code and figure out why exactly the strategies header is required here.

[2021-01-11 12:09] vissarion commented on #791
It seems that this is an inaccuracy in the drawing/display environment.

The following piece of code computes the intersection points of the polygon with segments that support the vertical segments of the box but are longer (to guarantee intersection). Then, we can compute the determinant value to see that those points are very close to the tested polygon segment while the points of the box are cl

[2021-01-11 15:28] vissarion commented on #664
I am not fluent with GIS applications but `M` seems to me important as well. In any case why not reading an `M` coordinate and then discard it in geometric operations? For example, we could have a utility that tell the user if the point has an M coordinate or not (by convention this could be always the last coordinate). The rest of the coordinates (2, 3 or more) will be considered "spatial".

[2021-01-12 02:27] sotex commented on #791
@vissarion Thank you for your answer.

You're right, it's really the drawing/display problem,I used [geojson.io](geojson.io) to display before.

I redrew it with a `geogebar`, and I really didn't want to intersects it.
![Uploading image.png…]()

[2021-01-12 02:28] #791 closed

[2021-01-15 14:02] beekm25 opened #794 "Intersection returns empty output, but polygons do intersect (boost::geometry::intersection)"
Both polygons are valid, and they intersect but the output of intersections is empty. Tested it using the example on the intersection documentation page.

On windows 10, VS2017 and Intel 18 compiler. Boost version is 1.75.0.

Example with coordinates, and picture in google earth:
[code]
![Untitled](https://user-images.githubusercontent.com/8014631/104735495-f2077d80-5741-11eb-837a-60cf11191e27.png

[2021-01-15 15:52] vissarion commented on #794
Please include more information in your issue report, such as, boost version and your platform setup.

I can reproduce this behaviour, with boost `develop` branch and `clang-9` on ubuntu `18.04`.

The issue is maybe some floating point error in computation of `intersection` algorithm.

Note that on my side the code computes the correct result by using boost multiprecission.

[2021-01-15 20:02] u3shit opened #795 "correct, difference fails to compile after updating to boost 1.75.0"
Take the following code:

[code]

It compiles fine with boost 1.73.0, however with 1.75.0 I get an assert fail for (1) (Not implemented for this Strategy) and a bunch of compile errors for (2).

[code]

The compiler used above was gcc 9.3.0, but I get similar results with gcc 10.2.0, clang 8.0.1 and clang 11.0.1. OS: gentoo linux (happens both with the distribution's boost package and if I manuall

[2021-01-18 06:00] yuxianch opened #796 "Need to change rtree/test_rtree.hpp because rebind in std::allocator is deprecated in C++17 and removed in C++20"
rebind in std::allocator is deprecated in C++17 and removed in C++20.
See https://en.cppreference.com/w/cpp/memory/allocator.

This change makes that the tests that include test_rtree.hpp are failed in C++20 since rebind is used in serveral lines of test_rtree.hpp.
https://github.com/boostorg/geometry/blob/18f6ad3658b987ff96e8e2b2d2a752584e5e74cb/index/test/rtree/test_rtree.hpp#L1697

The use of r

[2021-01-18 10:44] mloskot commented on #796
@yuxianch  Pull requests are always welcome

[2021-01-18 11:08] vissarion commented on #795
It should compile if you include

`#include <boost/geometry/strategies/strategies.hpp>`

Similar issue https://github.com/boostorg/geometry/issues/792

[2021-01-19 20:09] u3shit commented on #795
Yes, that include fixes it, thanks. (IWYU somewhy wants to remove that include though...)

[2021-01-19 20:09] #795 closed

[2021-01-20 08:13] vissarion commented on #795
Probably the correct strategies should be included by the inclusion of the boost geometry algorithm.

[2021-01-21 14:07] beekm25 commented on #794
Thanks for the reply. I've added some more information about my setup. Could you elaborate a bit on how you used multiprecission in this scenario?

[2021-01-21 16:17] beekm25 commented on #794
After some research into multiprecision I've found the following dat seem to work. Instead of using double, the polygons use cpp_bin_float_single, like this:

`
typedef boost::geometry::model::polygon<boost::geometry::model::d2::point_xy<cpp_bin_float_single> > polygon;
`

[2021-01-21 21:33] CJxD opened #799 "bg::area underflow with geographic coordinates"
`bg::area()` with a geographic polygon yields unexpected results when the area of the polygon is less than ~20km² when using `double` for the `point` precision.

In this example, a 3m radius octagon is created with `double` precision points. The expected area is about 26m², but instead we get -12,375m².

This goes against expectations because `double` is able to define GPS coordinates to around 1m

[2021-01-21 23:07] CJxD commented on #799
Related: https://stackoverflow.com/questions/65493910/boost-point-circle-coming-out-in-weird-shapes/65496105?noredirect=1#comment115801317_65496105

[2021-01-24 11:26] StefanBruens commented on #590
Would it be possible to add a 'Boost::geometry' CMake target, with `target_compile_features(Boost::geometry PUBLIC cxx_std_14)` set?

https://cmake.org/cmake/help/latest/manual/cmake-compile-features.7.html#requiring-language-standards

[2021-01-24 13:03] mloskot commented on #590
@StefanBruens Please, make a feature request by opening a separate issue and I will try to implement it.

There is Boost-wide preliminary CMake support (e.g. `boostdep --cmake <lib>` can generate `CMakeLists.txt` files that define Boost targets in unified way. The `b2 install` mode can also deploy those CMake configuration files. I also think it would be good to use/add support for this work in Bo

[2021-01-25 12:35] jwakely commented on #590
I'm happy to see Boost libs dropping support for ancient versions of C++, but shouldn't the C++14 requirement be listed at https://www.boost.org/users/history/version_1_75_0.html ?

[2021-01-25 20:05] mloskot commented on #590
@jwakely Thank you for pointing it out. I've submitted the post-factum update in https://github.com/boostorg/website/pull/590 and @glenfe ,kindly offered help in re-generating the HTML page on the website.

[2021-01-25 20:57] jwakely commented on #590
Excellent, thanks!

[2021-01-29 16:37] barendgehrels commented on #794
@beekm25 can you add a comment why it is reopened?

[2021-02-01 15:12] vissarion commented on #799
Thanks for filing this issue. https://github.com/boostorg/geometry/pull/801 proposes a fix that will improve the accuracy of your example and maybe more cases. The reason of inaccuracy was multifold. This also improves most of the cases in https://stackoverflow.com/questions/65493910/boost-point-circle-coming-out-in-weird-shapes/65496105?noredirect=1#comment115801317_65496105 but there is an extra

[2021-02-05 15:30] Mitsuhiko-Matsukawa opened #803 "bg::buffer() returns wrong result"
In this code, bg::buffer() returns empty result.
However if I change 6.6613381477509392e-16 to 0.0, it returns correct result.

boost1.75.0, Visual Studio 2019

[code]

[2021-02-10 09:49] barendgehrels commented on #803
Hi @Mitsuhiko-Matsukawa , thanks for the report. I can reproduce it and will at it to our testsuite.

Using the define `BOOST_GEOMETRY_NO_ROBUSTNESS` I get correct behavior (on Linux/clang). This will become the default in a future Boost version (hopefully 1.77). Internal behavior is then a bit different, it will not rescale, it might therefore  influence other cases.

[2021-02-10 10:13] barendgehrels commented on #803
By the way, this line is incorrect:
`boost::geometry::strategy::buffer::join_miter join_strategy(points_per_circle);`
because the miter strategy takes an optional `miter_limit` and not a number of points (that's not applicable there). It works but the miter limit is quite high. You can construct it without a parameter.

It does not alter the test case.

[2021-02-11 18:12] amagdum opened #804 "buffer stack overflow with BOOST_GEOMETRY_NO_ROBUSTNESS"
I am using BOOST_GEOMETRY_NO_ROBUSTNESS to improve results for boolean operation. But then I came across a regression in buffer operation. Buffer internally uses partition and that seems to cause stack overflow. I can see that level in partition.hpp hits 100 but if robustness is used that level is much lower. In standalone application it does not cause stack overflow but in real application it doe

[2021-02-11 18:34] amagdum commented on #804
BTW, boost version I am using is 1.65 (looking at code likely reproducible even with latest?) and it's on Linux platform.

[2021-02-11 18:46] mloskot commented on #804
@amagdum Please, try the latest Boost 1.75 before going any further, thanks.

[2021-02-11 22:37] #590 closed

[2021-02-12 14:31] nikitamikhaylov opened #805 "performance issue in comparison with PostGIS"
Hello, I just tried to implement a bunch of geometry function in ClickHouse. https://github.com/ClickHouse/ClickHouse/pull/19257

These functions are pure wrappers around boost functions except some code to convert our types into boost types.

I benchmarked them in comparison to PostGIS on dataset of all countries and was very confused. Boost.Geometry code is about **20 times slower** on functions

[2021-02-12 16:11] awulkiew commented on #805
Hi Nikita,

The main part of the algorithms like intersection or union in Boost.Geometry is the same for all coordinate systems. In all cases we speed things up with a form of kd-tree. What is different is e.g. how the bounding boxes of segments are calculated or how the intersection of two segments is calculated internally. E.g. for intersection we use [Sjoberg's formulas](https://github.com/boos

[2021-02-12 17:12] nikitamikhaylov commented on #805
Yes, but there were no big changes in performance.

It seems that for union function it is true, but for intersection there were some difference.

For other questions the answer is `I don't know`, because I know nothing in this area. I asked for the algorithm only because I see a way to implement it directly in our codebase.

[2021-02-13 18:09] tristan0x opened #807 "Build issue in index/detail/serialization.hpp since 1.73"
[code]

Build issue is independent of the compiler.

[2021-02-14 12:39] mloskot commented on #788
Regarding question in https://github.com/boostorg/geometry/issues/788#issuecomment-753483434 it looks like these:
- `<number>`
- `<number><unit>`

are all treated as a single token by design and any following white-space triggers processing of the value:

https://github.com/boostorg/geometry/blob/e710403b4d220ccf1c07c7035f36d1e86d6be75e/include/boost/geometry/srs/projections/impl/dms_parser.hpp#L2

[2021-02-14 12:55] ayushgupta138 commented on #788
I should have been careful about the term 'bug' in my comment. After going through the code of dms_parser.hpp, the details were clear to me(Thanks for the confirmation though). Assuming the same, I have submitted a pr for the unit test. It would really be helpful if you could provide some suggestions on it for further improvement.

[2021-02-15 08:23] #788 closed

[2021-02-15 08:30] mloskot commented on #630
Moving this to milestone 1.76

[2021-02-15 08:31] mloskot commented on #602
Moving this to milestone 1.76

[2021-02-15 08:31] mloskot commented on #566
Moving this to milestone 1.76

[2021-02-15 15:38] vissarion opened #810 "Set operation strategies are undocumented"
In documentation, there are links for set operations with the use of strategies e.g. difference (with strategy), see below for mote. However, the description on the use of the strategy seems loose, e.g. the example is identical to the original (without strategy) function. Is this on purpose? If not this could be fixed.

https://www.boost.org/doc/libs/1_75_0/libs/geometry/doc/html/geometry/referenc

[2021-02-15 18:18] mloskot commented on #788
Initial implementation of the tests have been added in #809

Further improvements added in #806

[2021-02-16 10:31] kleunen opened #811 "Geometry only allows default constructed allocators"
The geometry classes allow overriding the allocators:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/geometries/multi_linestring.hpp#L50-L55

However the constructor gives no possibility to provide a reference to the allocator:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/geometries/multi_linestring.hpp#L68-L76

As can be done with classes in t

[2021-02-16 11:01] pcmourya commented on #810
I want to work on this, may I proceed with that?

[2021-02-16 11:01] mloskot commented on #811
It could be possible to register your own models as geometries (e.g. `std::vector` is a valid model for LineString geometry),
but, conceptually, you *may* hit requirement of geometries must be default constructible, I can't remember.
And, a default constructible collection (e.g. `std::vector`) will [require default constructible allocator](https://stackoverflow.com/a/40683807/151641), obviously.

[2021-02-16 11:03] mloskot commented on #810
@pcmourya No need to ask for permission. There is no reservation of issues or tasks in use. First PR submitted, first PR reviewed and first PR has chance to be merged first.

[2021-02-16 11:57] beekm25 commented on #794
Sorry for the late response. I reopened it because in my opinion multiprecision is not really a fix, more a workaround. I’ve noticed an enormous performance reduction using multiprecision, to the point it isn’t usable for me anymore.

[2021-02-16 12:12] kleunen commented on #811
Yes, it probably depends on which operations you use, whether they would require constructing a temporary object.
But I already saw that indeed the geometries are just basicly concepts, so maybe it is an option to implement custom geometries

I was also thinking about creating a custom allocator which has a default constructor and uses a global variable for the constructor. But I am a bit stuck on

[2021-02-16 14:38] #771 closed

[2021-02-16 19:02] kleunen commented on #811
Ah yes, that does actually work:
https://wandbox.org/permlink/RYKtjklQkMbgxvlk

[2021-02-16 19:25] mloskot commented on #811
Yup, `std::vector` is a perfectly support model of geometry.

[2021-02-16 19:34] kleunen commented on #811
But no register for polygon it seems, only multipolygon:
https://www.boost.org/doc/libs/1_75_0/libs/geometry/doc/html/geometry/reference/adapted/register.html

[2021-02-16 20:39] barendgehrels commented on #794
Right, it was your own fix. And indeed it is slower.

Can you please try with the define `BOOST_GEOMETRY_NO_ROBUSTNESS`

This will become the default in a future version.

[2021-02-16 20:54] mloskot commented on #811
There are some reasons behind it

https://github.com/boostorg/geometry/blob/b786bd9dd98ce2e72ae9594af1fb2ce8619512e0/example/c06_custom_polygon_example.cpp#L56-L58

Also, trivial polygons without holes can be represented by ring (i.e. custom registered with `BOOST_GEOMETRY_REGISTER_RING`).

[2021-02-17 14:17] mloskot opened #813 "List of supported compilers is out of date"
Following [report on the ML](https://lists.boost.org/geometry/2021/02/3834.php) the task is to
- either update the list at  https://www.boost.org/doc/libs/1_75_0/libs/geometry/doc/html/geometry/compilation.html and make it in sync with the compilers currently covered by CI builds,
- or simply remove the whole list and assume the C++14 requirement is sufficient documentation

The CI builds are avai

[2021-02-17 15:26] awulkiew commented on #813
@mloskot I'm ok with removal and assuming that C++14 requirement is enough.

[2021-02-17 16:02] #807 closed

[2021-02-17 16:58] vissarion commented on #813
@mloskot I am also ok with the simplest solution, i.e. remove and assume the C++14 requirement is sufficient.

[2021-02-19 08:44] jpo234 opened #814 "documentation and examples for spherical and geo coordinates is close to non-existent"
The functionality related to geographic conversions and calculations is currently very lacking. Some examples in the documentation would be very much appreciated. See my stackoverflow question "[using boost::geometry to convert from Latitude and longitude to UTM](https://stackoverflow.com/questions/66268072/using-boostgeometry-to-convert-from-latitude-and-longitude-to-utm)"

[2021-02-19 13:29] barendgehrels commented on #803
I looked to it closer, when adding the testcase, and the root cause is actually an artifact generated in the buffer outline.
That is fixed now in PR #815 and will be released in 1.76

So there is no need to use that define, for this case.

[2021-02-19 16:37] barendgehrels commented on #813
@mloskot I'm also fine with just `C++14`

[2021-02-19 18:55] #813 closed

[2021-02-20 14:07] kleunen commented on #811
I was able to define my own custom data type. But then if I use within (like for example point within custom polygon and point within custom multi_polygon):

[code]

I also have to define the strategy for my own custom type ?

[code]

[2021-02-20 15:17] kleunen commented on #811
After some struggles, i think I have it working now.

[2021-02-21 15:20] ayushgupta138 commented on #810
I could not find any pre defined strategies(not examples) in the official documentation for set operations mentioned above. So do we have to define a custom strategy and add it to the example codes?

[2021-02-22 09:16] Siddharth-coder13 commented on #810
I think strategies for these operations are not yet defined, that's why the same example is used on both functions. But using the same example on both functions can be misleading, I guess it needs to be removed from the `with strategies` part, till the strategies are defined.

[2021-02-22 10:47] vissarion opened #817 "Area strategies documentation is broken"
This issue appear in `1.75` where the links of available strategies in area documentation are broken see https://www.boost.org/doc/libs/1_75_0/libs/geometry/doc/html/geometry/reference/algorithms/area/area_2_with_strategy.html

In `1.74` the documentation is OK. See for example https://www.boost.org/doc/libs/1_74_0/libs/geometry/doc/html/geometry/reference/strategies/strategy_area_cartesian.html

[2021-02-22 10:49] ayushgupta138 commented on #810
I agree with @Siddharth-coder13.

[2021-02-22 11:15] vissarion commented on #810
I think it is OK to stay as is until the strategies are documented and properly linked as available strategies in the algorithm documentation. Also note that recently set operations were refactored see https://github.com/boostorg/geometry/pull/768

[2021-02-23 10:48] ayushgupta138 commented on #683
Hey, @vissarion, @barendgehrels  I am interested in implementing `volume` for 3d pointsets. Is that already done? If not could I work on the same?

[2021-02-23 10:51] beekm25 commented on #794
@barendgehrels Thanks, this seems to work right. I've checked the provided example as well as the rest of my polygons. Performance-wise it feels a bit faster than ‘normal’ with just a double, is this correct? I didn’t actually measured it though.

[2021-02-23 10:51] #794 closed

[2021-02-23 10:56] vissarion commented on #683
@ayushgupta138 do you have a plan on how to proceed? It seems related/dependent on https://github.com/boostorg/geometry/pull/789

[2021-02-23 11:13] vissarion opened #818 "`convert` algorithm does not convert degrees to radians"
I do not know whether this is a feature or not but `convert` algorithm does not convert degrees to radians and vice versa for geographic inputs (see example below).

This could potentially confuse users that expect `convert` to convert also degrees to radians as in https://stackoverflow.com/questions/65493910/boost-point-circle-coming-out-in-weird-shapes/

[code]
returns
[code]

[2021-02-23 12:53] Siddharth-coder13 commented on #683
well, I have been working on the polyhedral surfaces for few months, for defining the `volume` of 3d figures, geometry needs to be defined. #789 is related to the same issue, I have already defined geometry for polyhedral surfaces including their wkt read and write features, and I am also working on its volume implementation.

[2021-02-23 13:36] ayushgupta138 commented on #683
So is there anything related to 3d that i could implementation which is not implemented?

[2021-02-23 19:08] fhw72 opened #819 "Inconsistency in intersects() vs. intersection()"
In my application I noticed an inconsistency in behaviour of:

- intersects() vs.
- intersection()

The problem is that intersects() returns true but the subsequent
call to intersection() yields an empty result.

The problem can be reproduced with the following code:

[code]

[2021-02-23 19:56] mloskot commented on #819
[code]

Output:

[code]

[2021-02-23 19:56] #819 closed

[2021-02-23 21:00] awulkiew commented on #819
@mloskot You should've probably passed `multi_linestring`. I would be possible to have multiple linestrings/segments in the output.

[2021-02-23 21:10] mloskot commented on #819
@awulkiew There is number of possibilities. I just illustrated for this particular input.

[2021-02-24 05:11] ayushgupta138 commented on #683
Since @Siddharth-coder13  is working on volume implementation, @vissarion  can I work on surface area and distance implementation for 3d pointsets after #789 is merged? The implementation of surface area would not require much algorithmic implementation as distance, but for distance implementation I would have to do some research.

[2021-02-24 07:29] fhw72 commented on #819
I understand that bg::intersection() returns a (multi_)linestring but the real question is:

Shouldn't
`bool b0 = bg::intersects(poly2, poly4[0]);`
return false?

In the code I have poly1 and poly2 and their intersection poly3:
`bg::intersection(poly1, poly2, poly3);`

This intersection is removed from poly1 (result: poly4):
`bg::difference(poly1, poly3[0], poly4);`

That means that there shoudln'

[2021-02-24 09:50] mloskot commented on #819
AFAIKT, the two touch each other and the `touches` relation implies intersection

![image](https://user-images.githubusercontent.com/80741/108981622-306f5100-768d-11eb-80d5-2ac72c39a41e.png)

Yes, but the operation can not, topologically, remove the [boundary, just the interior (residue)](https://en.wikipedia.org/wiki/Boundary_(topology)).

[2021-02-24 09:55] fhw72 commented on #819
Can you shed some light on how to deal with it? I didn't find any description of the

BOOST_GEOMETRY_NO_ROBUSTNESS

macro... maybe I've overseen something?

[2021-02-24 10:00] vissarion commented on #819
(If I change the coordinates in poly1 from 4967.0000000000009 to 4967.0 etc.) intersects
return false as expected.

This is not clear at all. Do you change the coordinates before computing the `poly3` and `poly4`? The intersection polygon (`poly3`) seems large enough to suffer from floating point robustness.

[2021-02-24 10:03] fhw72 commented on #819
Yes... I mean changing BEFORE computing poly3 and poly4 to

[code]

[2021-02-24 10:13] vissarion commented on #819
Then I cannot reproduce this behavior on my side. I am still getting the following (blue: poly1, green: poly2, red: the intersection of poly2 and poly4)
![intersection_example](https://user-images.githubusercontent.com/3660366/108985025-3cf9a680-7699-11eb-86df-19bc730a4f40.png)

[2021-02-24 10:24] fhw72 commented on #819
Oh... the penny has fallen now. The intersection is still there it's just a line string and

the sample code I used to demonstrate the behavior was slightly different than the code in my
application.

[2021-02-24 10:49] mloskot commented on #819
Yes! It's part of the boundary.

[2021-02-24 10:54] vissarion commented on #683
Distance in 3d seems independent from volume and could be a project to work on after #789 is merged. Surface area sounds also useful. Note that there is a connection between surface area and volume for closed polyhedral surfaces (see e.g. 15.2.1 in http://www.csun.edu/~ctoth/Handbook/chap15.pdf).

[2021-02-24 13:52] awulkiew commented on #818
Something tells me that this is a feature. AFAIR `transform` can be used to convert between units.

Furthermore this could be a breaking change.

[2021-02-24 16:13] vissarion commented on #818
Indeed, `trasform` converts between units.

[2021-02-24 16:13] #818 closed

[2021-02-25 19:29] nikitamikhaylov commented on #805
@awulkiew Hello! Is there some kind of dispatching depending on the hardware in runtime inside boost::geometry? I've faced a problem, that boost::geometry::area and boost::geometry::polygon return different results on different machines, but all of there results are deterministic. So, on my machine it constantly returns one result, on other machine - other. Please, help.

[2021-02-26 11:05] ayushgupta138 commented on #817
I see that the links in `1.74` which redirect to `1.75` release
https://www.boost.org/doc/libs/1_74_0/libs/geometry/doc/html/geometry/reference/strategies/strategy_area_cartesian.html
https://www.boost.org/doc/libs/1_74_0/libs/geometry/doc/html/geometry/reference/strategies/strategy_area_spherical.html
https://www.boost.org/doc/libs/1_74_0/libs/geometry/doc/html/geometry/reference/strategies/strat

[2021-02-27 16:55] awulkiew commented on #817
@vissarion @ayushgupta138 I probably caused the problem by moving the strategies from `geometry/strategies` to `geometry/strategy` directory but I forgot to update the doxygen script here:
https://github.com/boostorg/geometry/blob/develop/doc/doxy/Doxyfile#L181

[2021-02-27 17:00] awulkiew commented on #817
@ayushgupta138 The documentation is automatically generated from source files using `doxygen`, `doxygen_xml2qbk` (the tool we developed converting XML files generated by doxygen to QBK files) and Boost.Quickbook library.

[2021-03-01 07:10] ayushgupta138 commented on #817
So basically I have to add  ../../../../boost/geometry/strategies/area \  in  https://github.com/boostorg/geometry/blob/develop/doc/doxy/Doxyfile#L181.
Right @awulkiew ?

[2021-03-01 07:14] ayushgupta138 commented on #817
So basically I have to add
 ../../../../boost/geometry/strategy/cartesian \
 ../../../../boost/geometry/strategy/geographic \
 ../../../../boost/geometry/strategy/spherical \
in https://github.com/boostorg/geometry/blob/develop/doc/doxy/Doxyfile#L181
Right @awulkiew ?

[2021-03-02 14:14] vissarion commented on #714
@fsimonis sorry for overlooking here. Indeed there is no consistent way for citing boost.geometry.

The simplest way I see is using github-zenodo interaction and create a DOI, see https://guides.github.com/activities/citable-code

@barendgehrels @awulkiew @mloskot what do you think, any interest on getting a boost.geometry DOI?

[2021-03-02 14:50] #799 closed

[2021-03-02 15:12] mloskot commented on #714
I don't have any uses of the DOI myself, but I can see it useful to others especially those who use and refer to Boost.Geometry in academic projects and papers. So, 👍  from me.

[2021-03-03 10:51] barendgehrels commented on #803
Closing as fixed

[2021-03-03 10:51] #803 closed

[2021-03-03 13:06] #654 closed

[2021-03-03 13:13] #817 closed

[2021-03-05 10:22] ayushgupta138 opened #825 "Inconsistency in #define directives in geometry/include/boost/geometry/algorithms/area_result.hpp"
As per the developer guidelines https://github.com/boostorg/geometry/wiki/Guidelines-for-Developers ,
 Every header shall have `#include` guard based on header path and file name:
`#ifndef BOOST_GEOMETRY_<DIR1>_<DIR2>_<FILE>_HPP`
`#define BOOST_GEOMETRY_<DIR1>_<DIR2>_<FILE>_HPP`
area_result.hpp begins with
https://github.com/boostorg/geometry/blob/6918276567a16d1699f5e27f05d9bcd7c6512a43/include/b

[2021-03-05 12:43] awulkiew commented on #825
Good catch!

[2021-03-05 13:23] #825 closed

[2021-03-09 23:46] saki7 commented on #814
The answer of your StackOverflow post might compile, but I'm afraid that it is inappropriate.

In general, you must first define (or find out) the exact geodetic definition which is used by your lon/lat coordinate data. At least, parameters like geodetic reference system, datum, ellipsoid, etc. must be provided. You can't really *convert* plain `<double, double>` points to other systems. When doin

[2021-03-10 18:24] jpo234 commented on #814
I came to a similar conclusion and switched to GeographicLib (https://geographiclib.sourceforge.io/).

[2021-03-18 11:37] KonanM commented on #566
I just wanted to say that we are also affected by this issue and that it's blocking us from updating boost (geometry) to a version newer than 1.68.

[2021-03-19 17:54] ayushgupta138 opened #829 "convex_hull discrepancy when points are collinear."
When `boost::geometry::convex_hull()` function is called on collinear points, the returned polygon/linestring is incorrect and is inconsistent.
for example, the following code snippet,
` typedef boost::geometry::model::d2::point_xy<double> point2d;`
` using bg=boost::geometry;`
 `bg:model::polygon<point2d> poly1;`
 `bg::model::multi_point<point2d> p1;`
`bg::read_wkt("MULTIPOINT(2 1,3 2,4 3,7 6)",

[2021-03-19 19:15] awulkiew commented on #805
@nikitamikhaylov This is a different issue than the original one. Please use the mailing list for questions in the future. Or https://gitter.im/boostorg/geometry .

No, there is not. You may experience different numerical issues depending not only on hardware but also compiler. In general you won't get exactly the same results and the more complex the calculation the more difference you may get. T

[2021-03-19 19:18] awulkiew commented on #805
@nikitamikhaylov Btw, if you don't see any difference between spherical and geographic computation then my guess would be that the bootleneck is somewhere else.

[2021-03-19 19:18] #805 closed

[2021-03-19 21:20] awulkiew commented on #829
I guess it's an edge case. It's impossible to create a convex hull that is valid polygon [1] of collinear points, or two points, or a single segment, or a single point, etc. The resulting polygon will have no interior.

The requirement of at least 4 points for closed polygon is correct. Open polygon should have at least 3 distinct points and closed polygon should have 4 with the last equal to the

[2021-03-20 07:49] ayushgupta138 commented on #829
I think making the 2nd argument of `convex_hull()` to be mandatorily be a `GEOMETRY COLECTION` would be a good idea. This would increase the simplicity and the flexibility of the algorithm implementation. For example in case of collinearity, we could return a `LINESTRING` in the 'GEOMETRY COLLECTION' geometry instead of a `POLYGON`. But since there is currently no support for `GEOMETRY COLLECTION`

[2021-03-22 15:52] uncleysh opened #831 "Inconsistent Results from crosses() with Equivalent Geometries"
Input:
[code]
Output:
[code]

The ordering of the points in the line segment affects the results of crosses(). In this particular case, I believe both tests should return true. I'm using g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0 and boost geometry 1.75.0.

[2021-03-24 18:59] cffk opened #833 "Inconsistent formulas for meridian distances"
It would be nice if `quarter_meridian`, `meridian_direct`, and `meridian_inverse` all used consistent approximations.  Instead:
* `quarter_meridian` is accurate to `n^16` with the coefficient given to full precision.
* `meridian_direct` is accurate to `n^4` with the coefficients given approximately, e.g., `1.572916667` instead of `CT(151)/CT(96)`.
* `meridian_inverse` is supposed to be accurate to

[2021-03-26 14:16] vschoech commented on #727
I can confirm that this warning no longer occurs with 1.75.0. Thank you!

[2021-03-26 14:24] vschoech commented on #629
This is still a problem in 1.75.0.
`\boost_1_75_0\boost\geometry\strategies\cartesian\side_by_triangle.hpp(123,37): error C4244: 'initializing': conversion from 'CoordinateType' to 'PromotedType', possible loss of data
`

[2021-03-26 14:50] vschoech opened #834 "WSVC Warning C4456: declaration of 'side_pk_q1' hides previous local declaration"
Compiling with boost 1.75.0, MSVC 2019 Version 16.9.2 with compiler options `<WarningLevel>Level4</WarningLevel>` and `<LanguageStandard>stdcpplatest</LanguageStandard>`, I get the following warning:

[code]

[2021-03-26 14:58] vschoech opened #835 "WSVC Warning C4459: declaration of 'indices' hides global declaration"
Compiling with boost 1.75.0, MSVC 2019 Version 16.9.2 with compiler options `<WarningLevel>Level4</WarningLevel>` and `<LanguageStandard>stdcpplatest</LanguageStandard>`, I get the following warning:

[code]

[2021-03-26 15:51] vschoech commented on #604
Still missing implementations for covered_by in boost 1.75.0.

[2021-03-26 16:57] vschoech commented on #602
Confirming that this issue is still present in boost 1.75.0. Looking forward to the next milestone!

[2021-03-26 17:08] vschoech commented on #603
Confirming that this issue is still present in boost 1.75.0. Looking forward to the next milestone!

[2021-03-26 18:23] awulkiew commented on #604
@vschoech out of curiosity, why do you need this combination for? Wouldn't checking
[code]
be enough?

[2021-03-28 01:41] Kojoley opened #836 "Geometry is top 1 with 40G of testing artifacts"
I was doing `boost-repo\status>..\b2 toolset=msvc-14.2 address-model=64 link=shared variant=debug` and was impressed with artifacts size, of total 119G, geometry is 40G.

top 10:

lib            | artifacts
---------------|-----------
geometry       | ~ 41 204 M
math           | ~ 10 474 M
test           | ~  6 139 M
spirit         | ~  6 061 M
thread         | ~  3 671 M
multiprecision | ~  3 141

[2021-03-28 12:00] awulkiew commented on #836
Yes, AFAIR the library has the greatest number of lines of code of all Boost libraries and 94% test coverage.

Do you think that something is wrong?

[2021-03-28 14:18] Kojoley commented on #836
That is impressive, I did not know that, but I am a little bit skeptical that it is 30% of the whole Boost code or same as 9 most massive libraries combined.

Well, in my experience, test coverage for template code says literally nothing. When I tried collecting coverage statistics for Spirit it also said a number close to yours, but I know for sure it is just not.

Marking some symbols (like TMP

[2021-03-29 07:14] vschoech commented on #604
I don't think so, unless I'm missing something. In case of a non-convex polygon, as illustrated on the bottom of this [man page](https://www.boost.org/doc/libs/1_73_0/libs/geometry/doc/html/geometry/reference/algorithms/envelope/return_envelope_1.html), there are a lot of boxes that are covered by the envelope, but not covered by the polygon. The same for a multi-polygon with at least two disjunct

[2021-03-29 07:46] vschoech opened #837 "intersects(polygon, box) returns the wrong result"
This problem has been reported earlier and it **was fixed in 1.50** already:
https://lists.boost.org/geometry/2012/06/1957.php

It has now returned in boost.geometry 1.75.

My `tc::geo::polygon` type is actually a multi-polygon, using a polygon type that is based on **int**, oriented **counter-clockwise** and **open** (not closed). I am using **boost 1.75.0**. Please consider the following example

[2021-03-29 09:41] awulkiew commented on #604
@vschoech Sorry, may bad. I confused the covered with the covering geometry. Yes, I can see that this may be useful in particular with relatively big concave polygons.

In general I tend to think that there is no need to mix bounding geometries with geometries which they represent. That relational operations should be done for Boxes vs Boxes and then corresponding geometries should be processed. I

[2021-03-29 09:53] vschoech commented on #604
@awulkiew Thank you for the clarification. In my case I have text labels that are approximated by boxes, and that I need to clip against the polygon shape of an area chart (basically a line chart with color between the lines):

![Screenshot 2021-03-29 115107](https://user-images.githubusercontent.com/44493453/112819712-2920d600-9085-11eb-9e96-a99c95e3f604.png)

[2021-03-29 11:55] awulkiew commented on #604
@vschoech Ok, got it.

Note that technically this is not a use case for `covered_by(box, multi_polygon)` since what you really need is to check on which side of a linestring a box is. It's more complex if points can be duplicated, lines going backwards, spikes, etc. But in the most simple case this could be checked by calling side strategy for each segment of a linestring and for each point of a b

[2021-03-29 16:30] amagdum opened #838 "union_ produces wrong result"
Result of simple union of two polygon is failing when BOOST_GEOMETRY_NO_ROBUSTNESS is enabled. I have been used no robustness as using robustness causes other issues with buffer operation. This is tested with latest boost 1.75.

std::string polygon1_wkt = "POLYGON((27162.5232832765 -40045.435290614478,27162.764636849268 -40045.321663646188,27164.74034168441 -40044.391828870466,27164.854765308635 -

[2021-03-29 18:27] barendgehrels commented on #838
Thanks for the issue I will check it next Wednesday

[2021-03-31 11:50] barendgehrels commented on #838
I can reproduce it. The union is successful (i.e. give the right area) but is indeed invalid. I don't know yet why it is invalid.
For the moment I don't know a workaround, apart from not checking validity.
I added your testcase to our suite.

[2021-03-31 17:04] amagdum commented on #838
Thanks. BTW, if you plot resulting polygon, you can see a spike.

![image](https://user-images.githubusercontent.com/51491348/113183131-8abd7d80-9208-11eb-953b-a5dd83826b98.png)

[2021-04-01 07:48] vschoech commented on #837
P.S. Please add my reproduction as a unit test to your project to ensure that it doesn't break again! :)

[2021-04-02 08:44] barendgehrels commented on #838
Thank you! That might give some information. I did plot the polygon (I always do when creating a testcase) but I didn't see it. I will check it again next week.

[2021-04-07 12:22] barendgehrels commented on #838
Yes, I've the same, but it was outside the picture (because the bounding box was based on the input). This artifact makes it maybe easier to fix. To be continued.

[2021-04-19 07:30] ayushgupta138 commented on #837
I can reproduce the error mentioned above.
After some code reading, I found that the function `boost::geometry::all_segments_of()`
https://github.com/boostorg/geometry/blob/e098a85f5adb5bbf28422a6415c6bf5ad601840a/include/boost/geometry/algorithms/detail/disjoint/areal_areal.hpp#L115
is not performing in the desired way.
https://github.com/boostorg/geometry/blob/e098a85f5adb5bbf28422a6415c6bf5ad60

[2021-04-21 11:57] awulkiew opened #843 "Proposal: GeometryCollection, DynamicGeometry"
I'd like to propose addition of GeometryCollection, DynamicGeometry and making the support for TupledGeometry public. I made a prototype for these concepts here: https://github.com/awulkiew/test-geometry-collection

**DynamicGeometry** is any type using type-erasure idiom allowing to store various StaticGeometries transparently. Examples:
- `boost::variant`
- `boost::variant2::variant2`
- `std::va

[2021-04-21 13:12] awulkiew commented on #843
On top of that I implemented several utilities to show how the traits are used:
- `bg::visit(function, g)`
- `bg::visit(function, g1, g2)`
- `bg::visit_breadth_first(function, g)`

So e.g. the whole `resolve_variant::area` part:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/algorithms/area.hpp#L276-L320
could be reimplemented as:
[code]
assuming `area_result` works with

[2021-04-27 12:54] ayushgupta138 commented on #831
I cannot reproduce the error mentioned by @uncleysh.
The code mentioned above outputs,

[code]
This is the expected behavior and no longer an issue.
Output generated by Visual Studio 2019 on Windows 10 using boost.geometry 1.76.0.

[2021-04-27 14:26] uncleysh commented on #831
I have retested using boost geometry 1.76.0, still using the above code and g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0 and still receive the same (incorrect) output. Does boost geometry only support Windows?

[2021-04-28 08:33] barendgehrels commented on #838
The root cause is found and fixed in #842. You can now use `BOOST_GEOMETRY_NO_ROBUSTNESS` for this case (or similar cases) and it will not generate the artifact. It will be available in Boost 1.77
Thanks for the report and I will close this issue.

[2021-04-28 08:33] #838 closed

[2021-04-28 09:35] togermer commented on #837
I also ran into this issue and found `fe_segment_range_with_closure<open>::apply()` to be incorrect. It first checks the inner segments of the polygon ring for intersections, but discards the results. This can be simply fixed:

`        if (! fe_segment_range_with_closure<closed>::apply(range, f))
        {
            return false;
        }
`

[2021-04-28 22:24] amagdum commented on #838
Good to know, thanks for the fix!

[2021-05-05 02:00] cmpute opened #846 "Incorrect behavior of RTree with points on spherical coordinate"
I created a test program to test RTree with spherical coordinate system (see https://gist.github.com/cmpute/19a10ff01c736a433cb23430bb0399a1), but I found some unexpected behavior. RTree query will miss some data points in some cases. I cannot find any pattern of the problem. Either I misunderstood the behavior of `box` in spherical coordinate system, or there are some bugs in spherical coordinate

[2021-05-05 14:38] awulkiew commented on #846
Thanks for the report!

The sample code is quite complicated. Could you simplify it, pick one specific case and e.g. show a set of points that is stored in the R-tree, query box and the result? Directly in spherical CS, without conversion between ECEF and spherical.

Regarding the spherical box. Min longitude has to be smaller or equal to max longitude. The longitude should be in [-180, 540) and t

[2021-05-05 15:06] cmpute commented on #846
@awulkiew Thanks for the clarification! I will try to compose a smaller example. About the spherical box, should the latitude range be in [0, 180] in spherical CS? I thought [-90, 90] is the range for equatorial spherical CS. And besides, is there any limitation of box in 'range' direction? (i.e. elevation)

[2021-05-05 15:19] awulkiew commented on #846
Yes, you're correct. I was thinking about `spherical_equatorial`. Btw, does the problem exist also in equatorial?

No, I don't think so. Maybe only that it should be >0 if you treat it as height/radius. The rest of the coordinates are treated the same as in cartesian so if a point falls in range no matter what it is then it's considered to be inside a box.

[2021-05-05 16:54] cmpute commented on #846
Interesting... I found that the test program runs well on Ubuntu 20.04 (with boost 1.71), but fails on Ubuntu 18.04 (with boost 1.65). So I'm going to close this issue. @awulkiew Thanks for your help!

[2021-05-05 16:54] #846 closed

[2021-05-06 16:16] Lenostatos opened #847 "Return pointer to Rtree node for repeated querying inside that node?"
Hi,

I have data sets that cover larger areas but my algorithm (mean shift) performs multiple queries within only a small part of that area before it moves on to another spot.

Thus, I was thinking that maybe the performance could be improved if I could get a pointer to the Rtree node that covers that smaller sub-area and then perform the local queries only on that node.

I'm not entirely sure whe

[2021-05-06 19:18] awulkiew commented on #847
I'm not sure if R-tree is the best structure for that. I'd guess that kd-tree, esspecially a kd-tree with links between neighbouring nodes for speeding up traversing close areas would be better. AFAIR this was specifically designed for LIDAR point clouds, because when a new LIDAR measurement has to be merged with the existing point cloud with an algorithm like Iterative Closest Points the points a

[2021-05-06 19:21] awulkiew commented on #846
Indeed interesting. If you experience it in a different case feel free to reopen. Btw, I think it's safer to use `spherical_equatorial` because spherical (polar) is not that well tested.

[2021-05-06 19:34] awulkiew commented on #831
@uncleysh @ayushgupta138

Thanks for the report and trying to reproduce it.

No, with different compilers floating point operations can give different results. There are plenty cases like that. In some of them we can do something about it and in other not so much. We have to see what's really happening.

I wouldn't be so sure about that. :)

[2021-05-07 05:55] ayushgupta138 commented on #831
I will test the above code using the GNU compilers on Ubuntu 20.04 and try to find out the precision errors.

I apologize for jumping to conclusions without testing on other environments. I wasn't aware of such compiler dependent anomalies.

[2021-05-08 02:47] cmpute commented on #846
@awulkiew I tried the `spherical_equatorial` coordinate system and it seems there's not problem with that CS, thanks for the information!

[2021-05-12 08:37] barendgehrels commented on #843
Hi @awulkiew , I think this looks really useful!
Can you make a PR?

[2021-05-12 08:39] barendgehrels commented on #836
It might be that we are top 1, but some library has to be number 1...
We have many tests, and many tests use multiple types, this results in a lot of binaries with a large size.
Can we close this issue?

[2021-05-12 08:44] barendgehrels commented on #835
Hi @vschoech thanks for the report. Surprising that we can't use a variable just called `indices`...

Anyway, that code block happens to be deleted in #845 which will be merged soon. Therefore I will close this issue.

[2021-05-12 08:44] #835 closed

[2021-05-12 08:58] barendgehrels commented on #834
Thanks, will fix today!

[2021-05-12 09:02] barendgehrels commented on #764
Closing this issue, it's not related to Boost.Geometry

[2021-05-12 09:04] barendgehrels commented on #760
Closing this issue, I don't think we can fix internal compiler errors

[2021-05-12 09:04] #760 closed

[2021-05-12 09:12] barendgehrels commented on #713
Sorry for the long delay.
Agree with @tinko92 , I hope BOOST_GEOMETRY_NO_ROBUSTNESS is the default soon and I will close this issue.

https://godbolt.org/z/7zjW5Wz4a

[2021-05-12 09:12] #713 closed

[2021-05-12 09:24] barendgehrels commented on #804
There have been a problem in the past with partition and BOOST_GEOMETRY_NO_ROBUSTNESS but that is fixed, I believe in 1.75
I just tested this issue and the level goes to 1, so I will close this issue.

BTW the provided code was incorrect in several places (for example we have no `polyline`), here a correct version
https://godbolt.org/z/4hfTff5fP

[2021-05-12 09:24] #804 closed

[2021-05-12 10:32] barendgehrels commented on #742
As @awulkiew said, if you add `false` in `has_self_intersections` (which is a function in detail and not supposed to be called from this code), no exception will be thrown. Alternatively you can catch the exception. It is thrown on purpose.

Output will be:
[code]

I reworked the file a bit because there are other arguments now in that function

https://godbolt.org/z/z3oYd7Gze

But as you explaine

[2021-05-12 10:32] #742 closed

[2021-05-12 10:41] awulkiew commented on #836
@barendgehrels I think so. I'm against making the code even more complex by disabling debugging symbols in some of its parts. If the purpose is having smaller test objects then one could pass corresponding compiler flag and disable them altogether for the whole library.

[2021-05-12 11:15] barendgehrels commented on #836
All right, agreed, closing.

[2021-05-12 11:15] #836 closed

[2021-05-12 16:12] Kojoley commented on #836
It is 4 times more than the top 2 library, and it is 30% of the whole Boost.

Thanks for trying to do nothing.

[2021-05-14 17:58] ayushgupta138 commented on #586
Hi @wylecho
I tried to reproduce the error mentioned above and ran the following code snippet,
[code]
The above code snippet outputs,
`POINT(53770 -92980)`
which is the expected output according to
![cap](https://user-images.githubusercontent.com/55524855/118309788-6218eb00-b50b-11eb-85d5-d9aa1c50b1c5.JPG)

Environment used - Visual Studio 2019 on Windows 10 using Boost 1.76.0
This should not be c

[2021-05-16 23:31] awulkiew opened #849 "Test failures in develop with msvc-14.1"
This is the list of failures I get right now (7cbae4d) with msvc-14.1 (VS2017)
[code]

test\algorithms\detail\algorithms_approximately_equals
[code]

test\algorithms\algorithms_line_interpolate
[code]

test\algorithms\overlay\algorithms_sort_by_side
[code]

test\algorithms\overlay\algorithms_get_clusters
[code]

[2021-05-17 07:47] mloskot commented on #849
Does `variant=debug` vs `variant=release` make a difference?

[2021-05-17 10:58] awulkiew commented on #849
@mloskot No, the failures are the same in both cases. The last one is compilation error so it doesn't matter.

`algorithms_line_interpolate` fails since it was implemented. AFAIU it's a numerical issue. Right @vissarion ?

I created this issue to let @barendgehrels know about these failures because I think he doesn't test with msvc locally.

[2021-05-17 13:28] vissarion commented on #849
right

[2021-05-19 07:16] #834 closed

[2021-05-21 14:31] mapman63 opened #851 "Geographic Intersection of LineString with Box yields wrong result for boost version > 1.67.0"
The following code

[code]

yields the correct result for boost version <= 1.67 and the wrong result for boost version >= 1.68:

- version 1.67.0: https://godbolt.org/z/fMxEjo86P
- version 1.68.0: https://godbolt.org/z/nhbqE9sz8
- (...)
- version 1.76.0: https://godbolt.org/z/r1r8r6YhY

I also observed this behavior for other compilers.

[2021-05-21 21:11] awulkiew commented on #849
@vissarion I don't know why exactly but it seems that after merging https://github.com/boostorg/geometry/pull/840 `line_interpolate` test also started to fail with gcc-6.3 the same way:
https://app.circleci.com/pipelines/github/boostorg/geometry/165/workflows/5d3af105-4f5c-49b5-a4b6-7a128f94347c/jobs/12439
It also fails for me locally with gcc-9.

Do you have an idea why this may be happening?
Doe

[2021-05-23 13:43] awulkiew commented on #851
Thanks for the report!

I can reproduce it. The algorithm returns `true` for the case:

![obraz](https://user-images.githubusercontent.com/1226951/119262664-4a60f700-bbdc-11eb-8034-a342cbe36512.png)

The issue seems to be located in `disjoint_segment_box_sphere_or_spheroid`, somewhere around these lines:
https://github.com/boostorg/geometry/blob/develop/include/boost/geometry/algorithms/detail/dis

[2021-05-24 04:01] rgreenblatt opened #852 "intersection produces invalid polygon (is_valid fails) with (nearly) duplicated point"
[code]
Fails with:
[code]
This reproduces with 1.75 and the develop branch of this repo.
Note that the 2 points which are very close to (1/3, 1/3) as output by wkt are not equal - they are just very close.

[2021-05-25 12:47] awulkiew commented on #849
The issue was automatically closed after merging a fix for one of the failures. So I reopened it and edited the issue description.

[2021-05-25 13:04] fDarkShadow opened #856 "Unable to use geometry with quantities"
Hi,

I tried to use quantities (angles) in geometry shapes, so I can use geometry algorithms. But in some source code, an int is declared to compute area, so it can't be used with quantities.

An example is on Coliru : http://coliru.stacked-crooked.com/a/2b97d1e12d37f764

Tried also with boost 1.76.0, problem still present (in a different file).

[2021-05-25 13:12] mloskot commented on #856
Copy of the sample to godbolt/clang https://godbolt.org/z/xv3xY7aP8
an alternative to the gcc/coliru miserable output.

[2021-05-25 14:17] mloskot commented on #856
I think, this is not quite true or not an issue here. The `int` referenced above is this `2`:

https://github.com/boostorg/geometry/blob/54f141779bd60a628a68f9b2f55910d9c01efdbe/include/boost/geometry/strategy/cartesian/area.hpp#L82-L86

which translates to `radian two = 2`, but even if it is casted/commented away, it does not change the picture of the problem.

------

The problem seems to be 'co

[2021-05-25 16:05] awulkiew commented on #856
Geometry is not tested with this use-case in mind. The library will probably not compile right now with Units. I don't know how much work it'd require to make them to work together.

Regarding the example, adding to what @mloskot have said. Radian coordinate type is used together with cartesian CS. In this case the unit should rather be meters and then the result of area should be in square meters

[2021-05-25 19:24] mloskot commented on #856
@awulkiew

Indeed. That's why I mentioned support via an extension, if at all.

Indeed. I tried a few obvious gymnastics and none worked for me.

[2021-05-26 07:49] #851 closed

[2021-05-26 11:39] barendgehrels commented on #856
I agree with it. We should not become dependent on Boost.Units. If any, we should be less dependent on other Boost libraries (like Boost.Math did, they are now independent)

Long ago I once tried to get it working, but I succeeded neither. But it's so long ago that I don't remember why not. But I remember that it was complex and intrusive.

[2021-05-28 09:53] jmmaljaars opened #858 "boost::geometry::intersection provides inconstent results for integers"
Consider the case in which two connected, but non-overlapping polygons with integer valued vertices are intersected by a horizontal line, e.g.

[code]

Obviously, the end-point of the intersection between polygon `A` and the line `L` should match the starting point of the intersection between polygon `B` and the intersecting line `L`. This however fails for the following MWE for certain y-coordina

[2021-06-01 13:48] maliberty opened #859 "Plan to make serialization non-experimental"
Is there a plan to make the rtree serialization non-experimental?  The code itself seems to have been around for quite a while.

[2021-06-01 13:49] maliberty commented on #859
Are there any issues to be aware of in using this code?

[2021-06-01 18:39] awulkiew commented on #859
Yes, there was always a plan but there was not enough free time. The serialization support is still experimental and conditionally enabled with a macro definition because it's implemented in the internals of the R-tree. To be officially released it should be rewritten, implemented outside of the R-tree and optionally included because Boost.Geometry should not depend on Boost.Serialization by defau

[2021-06-03 14:14] #843 closed

[2021-06-03 14:56] awulkiew commented on #795
The default strategies are now included together with algorithms. The includes were added in https://github.com/boostorg/geometry/pull/840 and https://github.com/boostorg/geometry/pull/855 .

[2021-06-03 14:59] awulkiew commented on #795
Technically this is not a bug because this was intended but since this is now changed I'll mark this issue as a bug.

[2021-06-05 17:56] rgreenblatt opened #861 "Incorrect results for intersection in floating point edge cases"
This is a case where triangles share an edge and then the results are very wrong:
[code]
This results in:
[code]

![bad_intersection](https://user-images.githubusercontent.com/8813096/120900827-23a3b700-c605-11eb-9d80-529533205a22.png)
So despite `a` and `b` barely overlapping, the intersection is equal to `b` (the bottom triangle is both `b` and `polys[0]`).

[2021-06-08 00:26] awulkiew opened #863 "Proposal: let's remove xxx_insert versions of algorithms taking OutputIterator"
The algorithms:
- `convex_hull_insert`
- `intersection_insert`
- `difference_insert`
- `simplify_insert`
- `sym_difference_insert`
- `union_insert`

The main reason is that they take nonintuitive parameters, e.g. `intersection_insert` takes OutputIterator and in addition to this SingleGeometry because an iterator doesn't hold the necessary information for the algorithm to work. Another example is

[2021-06-08 10:12] mapman63 opened #864 "Geographic Intersection of Line with Box yields inconsistent behavior of bg::intersects and bg::intersection"
Dear maintainers of boost::geometry,

thank you for taking care of #851 so quickly. 😄

We have found another issue that is potentially related.
We use the same line from Stuttgart to Berlin from the setup of #851.

A box that intersects the geodesic is correctly reported as `bg::intersects`.
However, the resulting `bg::intersect` set with the box that intersects the geodesic is empty.

If we move

[2021-06-08 13:29] awulkiew commented on #864
Thanks! I can reproduce it. This is how it looks like:

![obraz](https://user-images.githubusercontent.com/1226951/121191436-4388e400-c86c-11eb-9916-a8c09f8dd9c6.png)

and up close:

![obraz](https://user-images.githubusercontent.com/1226951/121191501-513e6980-c86c-11eb-8b9b-db77ad3144dd.png)

Blue is the segment densified in cartesian and orange is the segment densified in geographic. The results

[2021-06-08 13:37] awulkiew commented on #864
Note that if the boxes are converted to rings/polygons like that:
[code]
the result is the expected one. Though there are probably some small differences in coordinates WRT what they should've been if proper boxes were used in calculation. Have in mind that converting box to ring/polygon is technically incorrect in geographic CS because boxes have different shape. Their horizontal edges are define

[2021-06-11 03:16] maliberty commented on #859
How would you implement it outside the rtree?   It depends on the internals of the rtree which I don't see a public API exposing.

[2021-06-11 03:21] maliberty opened #865 "serializer false error"
In the attached program I try to serialize/deserialize a tree with a single element.  It fails on deserialize in:

        if ( elements_count < parameters.get_min_elements() || parameters.get_max_elements() < elements_count )
            BOOST_THROW_EXCEPTION(std::runtime_error("rtree loading error"));

since there is just one element the root node must violate the min_elements rule (min of 4 in

[2021-06-11 03:33] maliberty commented on #859
As an experiment I simply got all the elements from begin() to end() into a vector and serialized that on save.  On load I just bulk inserted them into a new tree.  You get a tree but when you query it the elements come out in different orders, which in my application is bad.  Is there a way to reconstruct the exact tree from the public API?

[2021-06-11 09:11] awulkiew commented on #859
No, there is no public API for this. The placement of elements in the tree depends on how the tree was created.

Out of curiosity, why having the elements in a different order is it bad in your app? The placement is irrelevant for the R-tree, as well as is the order of elements in the result of the spatial query. It's because you could use a different algorithm for creating the tree or the element

[2021-06-11 09:13] awulkiew commented on #865
Thanks for the report! Yes, root leaf node should be able to hold smaller number of elements than the minimum.

[2021-06-12 09:04] wylecho commented on #586
@ayushgupta138 Thanks for your reply. I also had a re-try and found it should be fixed now. Close this issue.

[2021-06-12 09:04] #586 closed

[2021-06-12 09:53] awulkiew commented on #586
In the original example `int` was used as coordinate type and in the reply `double`. So the code snippets are not the same. For `int` coordinate type various things can happen, e.g. overflow somewhere in the depths of the `intersection()`.